﻿@model Wisky.SkyAdmin.Manage.Models.Identity.LoginViewModel

@{
    this.Layout = null;
}

<!DOCTYPE html>

@*<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Log In</title>

        <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />

        <link href="~/Content/template/template-material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/Content/template/template-material/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="~/Content/frontend/zmdi/css/material-design-iconic-font.min.css" rel="stylesheet"/>
        <link href="~/Content/template/template-material/css/app.min.1.css" rel="stylesheet">
        <link href="~/Content/template/template-material/css/app.min.2.css" rel="stylesheet">
        <link href="~/Content/css/login.css" rel="stylesheet">
        <style>
            body{
                font-family: OpenSans;
            }
        </style>
    </head>
    <body class="login-content">

        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <form method="post">
                @this.Html.AntiForgeryToken()

                @if (!this.ViewData.ModelState.IsValid)
                {
                    <div class="input-group m-b-20">
                        @(this.Html.ValidationSummary(true, "", new { @style="color:red;font-size: 125%;" }))
                    </div>
                }
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control myUsername" placeholder="Tên tài khoản" name="@this.Html.NameFor(q => q.Username)" value="@(this.Model.Username)" required>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" placeholder="Mật khẩu" name="@this.Html.NameFor(q => q.Password)" value="@(this.Model.Password)" required>
                    </div>
                </div>

                <div class="clearfix"></div>

                <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
            </form>
        </div>

        <script src="~/Content/js/jquery-1.9.1.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>

        <script src="~/Content/template/template-material/vendors/bower_components/Waves/dist/waves.min.js"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <script src="~/Content/template/template-material/js/functions.js"></script>

    </body>
    </html>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Cái này để dùng chung-->
@*<title>Login</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/login2.css" />
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="login-page">
                <div class="form">
                    <img src="/Content/images/login-logo_.png" class="wisky-logo" />
                    <br />
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <hr style="margin-bottom:15px" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10 username-input">
                                @Html.TextBoxFor(m => m.Username, new { @class = "username-input-inner", placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 password-input">
                                @Html.PasswordFor(m => m.Password, new { @class = "password-input-inner", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" type="submit">Login</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {

        $('.username-input-inner').on({
        focus: function () {
            $('.username-input').addClass('username-focused');
        },

        blur: function () {
            $('.username-input').removeClass('username-focused');
        }
        });

        $('.password-input-inner').on({
            focus: function () {
                $('.password-input').addClass('password-focused');
            },

            blur: function () {
                $('.password-input').removeClass('password-focused');
            }
        });

    });

</script>*@

<!-- Cái này dùng cho Passio -->
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trang Quản Lý</title>
        <link href="../../Content/ace/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="../../Content/ace/assets/css/LogInPage.css" rel="stylesheet" />
    </head>
    <body>
        <div class="logo-container">
            <img src="../../Content/images/login-logo.png" alt="" />
        </div>
        <div class="login-panel">
            <form method="post">
                @Html.AntiForgeryToken()

                <fieldset>
                    <div class="input-box">
                        @Html.TextBoxFor(m => m.Username, new { id = "username", name = "username", required = "required", type = "text", placeholder = "username", @class = "login-input"})
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                    <div class="input-box">
                        @Html.PasswordFor(m => m.Password, new { id = "password", name = "password", required = "required", type = "password", placeholder = "password", @class = "login-input" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="input-box">
                        <input type="submit" value="SIGN IN" class="login-btn" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="bottom-bg"></div>
    </body>
    </html>