﻿@using HmsService.ViewModels;
@model List<MenuViewModel>

@ShowAllMenuItem(Model)

@helper CheckLastItem(int menuIndex, IEnumerable<MenuViewModel> listItem, MenuViewModel lastItem)
    {
        if (menuIndex == listItem.Count() - 2)
        {
            string lastItemLink = Url.Action(lastItem.Action.Trim(), lastItem.Controller.Trim(), new { area = lastItem.Area.Trim() });
            <li>
                <a href="@lastItemLink"><i class="@lastItem.IconCss"></i> @lastItem.MenuText</a>
            </li>
        }
}


@helper ShowAllMenuItem(List<MenuViewModel> menus)
    {
        /**/

        for (var i = 0; i < menus.Count - 1; i++)
        {
            var item = menus.ElementAt(i);
            var nextItem = menus.ElementAt(i + 1);
            string sMenuClass = nextItem.ParentMenuId == item.Id ? "sub-menu" : "";
            string itemLink = nextItem.ParentMenuId == item.Id ? "#" : Url.Action(item.Action.Trim(), item.Controller.Trim(), new { area = item.Area.Trim() });

            if (nextItem.MenuLevel == item.MenuLevel)
            {
                <li>
                    <a href="@itemLink"><i class="@item.IconCss"></i> @item.MenuText</a>
                </li>
            }
            else
            {
                if (nextItem.MenuLevel > item.MenuLevel)
                {
                    @Html.Raw("<li class='" + sMenuClass + "'>");
                    <a href="@itemLink"><i class="@item.IconCss"></i> @item.MenuText</a>
                    @Html.Raw("<ul>");
                }
                else
                {
                    <li>
                        <a href="@itemLink"><i class="@item.IconCss"></i> @item.MenuText</a>
                    </li>
                    var k = item.MenuLevel - nextItem.MenuLevel;
                    for (var j = 0; j < k; j++)
                    {
                        @Html.Raw("</ul></li>");
                    }
                }
            }
            @CheckLastItem(i, menus, nextItem);
        }
}


