﻿@using HmsService.ViewModels;
@using Wisky.SkyAdmin.Manage.Controllers;
@{
    var user = HttpContext.Current.User;
    var currentStore = HmsService.Models.Utils.GetStore();
    //var storeId = ViewBag.storeId as string;
    var storeName = ViewBag.storeName as string;
    //var brandId = HmsService.Models.Utils.GetBrandId();
}

@if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager")))
{
    <li id="menuQuanLyNhanVienCuaHang">
        @*<a href="@Url.Action("Index","StoreManager", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "Admin" })"><i class="zmdi zmdi-accounts"></i> Quản lý tài khoản nhân viên</a>*@
    </li>
    <li class="sub-menu" id="menuChamCong">
        <a href="#"><i class="sub-menu zmdi zmdi-file-add"></i> Quản lý</a>
        <ul>
            <li class="submenu-style" id="subMenuQuanLyNhanVien"><a href="#"><i class="zmdi zmdi-account"></i> Quản lý nhân viên cửa hàng</a></li>
            <li class="submenu-style" id="subMenuQuanLyLoaiNgay"><a href="@Url.Action("Index","DayType", new { area= "Admin"  })"><i class="zmdi zmdi-aspect-ratio-alt"></i> Quản lý loại ngày</a></li>
            <li class="submenu-style" id="subMenuQuanLyTimeMode"><a href="@Url.Action("Index","TimeMode", new {area= "Admin" })"><i class="zmdi zmdi-aspect-ratio-alt"></i> Quản lý timemode</a></li>
            <li class="submenu-style" id="subMenuQuanLyCaMau"><a href="@Url.Action("Index","WorkingShift", new {  area= "Admin" })"><i class="zmdi zmdi-aspect-ratio-alt"></i> Quản lý ca mẫu</a></li>
            <li class="submenu-style" id="subMenuQuanLyChamCong"><a href="@Url.Action("Index","Attendance", new { area= "Admin" })"><i class="zmdi zmdi-aspect-ratio-alt"></i> Duyệt chấm công</a></li>
            <li class="submenu-style" id="subMenuQuanLyPhanCong"><a href="@Url.Action("Job2","Attendance", new { area= "Admin" })"><i class="zmdi zmdi-aspect-ratio-alt"></i> Phân công </a></li>
        </ul>
    </li>
}


<style>
    .sub-menu ul > li ul {
        margin: 0px !important;
    }

    .sub-menu .sub-menu:first-child > a:before, .sub-menu:first-child > a:after {
        top: 11px;
    }
</style>
<script>
    $(document).ready(function () {
        @if (Model != null)
        {
            for(int i = 0; i < Model.Count(); i++)
            {
                if (Model[i].enable == false)
                {
                    <text>
        if (document.getElementById("@Model[i].name") != null) {
            document.getElementById("@Model[i].name").setAttribute("hidden", "true");
        }

        </text>
                }
            }
        }

    });
</script>