﻿@using HmsService.ViewModels;
@model TimeModeEditViewModel
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("CreateTimeMode", "TimeMode"))
{
    <div style="width: 60%; margin:0 auto">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <h4 class="card-title mb-0">Tạo loại giờ</h4>
                        </div>
                        <div class="col-sm-7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="text-input">
                            Tên Loại Giờ <label class="text-danger">(*)</label>
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeModeName, new { @class = "form-control", @required = "required", @id = "timeModeName" })
                            <lablel class="alert-danger" style="display:none" id="timeModeNameAlert"></lablel>
                        </div>
                    </div>
                    <div class="form-group row controls-group">
                        <label class="col-md-4 col-form-label" for="text-input">
                            Giờ Bắt Đầu <label class="text-danger">(*)</label>
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeStart, new { @class = "form-control", @id = "timeStart", @required = "required", @onchange = "checkTime(1, $(this).attr('id'))" })
                            <lablel class="alert-danger" style="display:none" id="timeStartAlert"></lablel>
                        </div>
                        @*<div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="timeStartPicker" data-link-format="hh:ii">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeStart, new { @class = "form-control", @readonly = "true", @id = "timeStart" })
                                <lablel class="alert-danger" style="display:none" id="timeStartAlert"></lablel>
                                <span class="add-on"><i class="icon-remove" style="display: none"></i></span>
                                <span class="add-on"><i class="icon-th" style="display: none"></i></span>
                            </div>*@
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="text-input">
                            Giờ Kết Thúc <label class="text-danger">(*)</label>
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeEnd, new { @class = "form-control", @id = "timeEnd", @required = "required", @onchange = "checkTime(1, $(this).attr('id'))" })
                            <lablel class="alert-danger" style="display:none" id="timeEndAlert"></lablel>
                        </div>

                        @*<div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="timeEndPicker" data-link-format="hh:ii">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeEnd, new { @class = "form-control", @readonly = "true", @id = "timeEnd" })
                                <lablel class="alert-danger" style="display:none" id="timeEndAlert"></lablel>
                                <span class="add-on"><i class="icon-remove" style="display: none"></i></span>
                                <span class="add-on"><i class="icon-th" style="display: none"></i></span>
                            </div>*@
                    </div>
                    <div style="display:none" id="blk">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">
                                Thời Lượng Tối Thiểu <label class="text-danger">(*)</label>
                            </label>
                            @*<div class="col-md-8 bfh-timepicker" data-name="durationMin">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.DurationMin, new { @class = "form-control ", @id = "durationMin", @required = "required", @onchange = "checkTime(2, $(this).attr('id'))", @readonly = "readonly"})
                                    <lablel class="alert-danger" style="display:none" id="durationMinAlert"></lablel>

                                </div>*@

                            <div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="dateTimePicker" data-link-format="hh:ii">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.DurationMin, new { @class = "form-control", @readonly = "true", @id = "durationMin", @required = "required", @onchange = "checkTime(2, $(this).attr('id'))" })
                                <lablel class="alert-danger" style="display:none" id="durationMinAlert"></lablel>
                                <span class="add-on"><i class="icon-remove" style="display: none"></i></span>
                                <span class="add-on"><i class="icon-th" style="display: none"></i></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">
                                Thời Lượng Tối Đa <label class="text-danger">(*)</label>
                            </label>
                            @*<div class="col-md-8 bfh-timepicker">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.DurationMax, new { @class = "form-control ", @id = "durationMax", @required = "required", @onchange = "checkTime(2, $(this).attr('id'))" })
                                    <lablel class="alert-danger" style="display:none" id="durationMaxAlert"></lablel>
                                </div>*@
                            <div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="dateTimePicker" data-link-format="hh:ii">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.DurationMax, new { @class = "form-control", @readonly = "true", @id = "durationMax", @required = "required", @onchange = "checkTime(2, $(this).attr('id'))" })
                                <lablel class="alert-danger" style="display:none" id="durationMaxAlert"></lablel>
                                <span class="add-on"><i class="icon-remove" style="display: none"></i></span>
                                <span class="add-on"><i class="icon-th" style="display: none"></i></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">
                                Hệ Số <label class="text-danger">(*)</label>
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.RateValue, new { @class = "form-control", @type = "number", @step = "0.1", @required = "required", @id = "rateValue" })
                                <lablel class="alert-danger" style="display:none" id="rateValueAlert"></lablel>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">
                                Loại Ngày
                            </label>
                            <div class="col-md-8 dropdown">
                                @Html.DropDownListFor(timeMode => timeMode.TimeModeViewModel.DayTypeId, Model.AvailableTimeModeList, new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">
                                Độ Ưu Tiên
                            </label>
                            <div class="col-md-8">
                                @Html.EnumDropDownListFor(timeMode => timeMode.TimeModePriorityEnum, new { @class = "form-control", @id = "priorityId", @required = "required" })
                                @*@Html.DropDownListFor(timeMode => timeMode.TimeModeViewModel.Priority, EnumHelper.GetSelectList(typeof(PriorityEnum)), new { @class = "form-control", @id = "priorityId", @required = "required" }),*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer">
                <div class="col-md-12">
                    <button type="reset" class="btn btn-sm btn-danger pull-right" style="margin-left:5px">
                        <i class="fa fa-refresh"></i> Làm Lại
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary pull-right" onclick="return validateData()">
                        <i class="fa fa-floppy-o"></i> Tạo
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#timeStart').mdtimepicker({
                timeFormat: 'hh:mm:ss.000',
                format: 'hh:mm:ss',
                theme: 'blue',
                readOnly: true,
                hourPadding: false
            });
            $('#timeEnd').mdtimepicker({
                timeFormat: 'hh:mm:ss.000',
                format: 'hh:mm:ss',
                theme: 'blue',
                readOnly: true,
                hourPadding: false
            });
            //$('#durationMin').mdtimepicker({
            //    timeFormat: 'hh:mm:ss.000',
            //    format: 'hh:mm',
            //    theme: 'blue',
            //    readOnly: true,
            //    hourPadding: false
            //});
            //$('#durationMax').mdtimepicker({
            //    timeFormat: 'hh:mm:ss.000',
            //    format: 'hh:mm',
            //    theme: 'blue',
            //    readOnly: true,
            //    hourPadding: false
            //});
        })

        function checkTime(type, id) {
            var timeStart = $("#timeStart").val();
            var timeEnd = $("#timeEnd").val();
            var durationMin = $('#durationMin').val();
            var durationMax = $('#durationMax').val();
            if (type == 1) {
                if (!compareTime(timeStart, timeEnd)) {
                    if (id == "timeStart") {
                        $('#timeStartAlert').text("Giờ Bắt Đầu không thể sau giờ Kết Thúc").show('fast');
                    } else {
                        $('#timeEndAlert').text("Giờ Kết Thúc không thể trước giờ Bắt Đầu").show('fast');
                    }
                    $('#blk').hide('slow');
                    $('#durationMin').val(null);
                    $('#durationMax').val(null);
                    $("#" + id).val(null);
                } else if (timeStart.length > 1 && timeEnd.length > 1) {
                    $('#blk').show('slow');
                    $('#timeStartAlert').hide();
                    $('#timeEndAlert').hide();
                    $('#durationMinAlert').hide();
                    $('#durationMaxAlert').hide();
                }
            } else if (type == 2) {
                var regExp = /(\d{1,2})\:(\d{1,2})/;
                var duration = parseInt(timeEnd.replace(regExp, "$1$2")) - parseInt(timeStart.replace(regExp, "$1$2"));
                var tmpDurationMin = parseInt(durationMin.replace(regExp, "$1$2"));
                var tmpDurationMax = parseInt(durationMax.replace(regExp, "$1$2"));

                if (id == 'durationMin') {
                    if (tmpDurationMin > duration) {
                        $('#durationMinAlert').text("Thời Lượng Tối Thiểu quá nhiều so vơi khung giờ đã định").show('fast');
                        $("#" + id).val(null);
                    } else if (tmpDurationMin > tmpDurationMax) {
                        $('#durationMinAlert').text("Thời Lượng Tối Thiểu không thể vượt quá Tối Đa").show('fast');
                        $("#" + id).val(null);
                    } else if (!compareTime(durationMin, durationMax)) {
                        $('#durationMinAlert').text("Thời Lượng Tối Thiểu không thể lớn hơn Tối Đa").show('fast');
                        $("#" + id).val(null);
                    } else {
                        $('#durationMinAlert').hide();
                    }
                } else {
                    if (tmpDurationMax > duration) {
                        $('#durationMaxAlert').text("Thời Lượng Tối Đa quá nhiều so vơi khung giờ đã định").show('fast');
                        $("#" + id).val(null);
                    } else if (tmpDurationMin > tmpDurationMax) {
                        $('#durationMaxAlert').text("Thời Lượng Tối Đa không thể ít hơn Tối Thiểu").show('fast');
                        $("#" + id).val(null);
                    } else if (!compareTime(durationMin, durationMax)) {
                        $('#durationMaxAlert').text("Thời Lượng Tối Đa không thể nhỏ hơn Tối Thiểu").show('fast');
                        $("#" + id).val(null);
                    } else {
                        $('#durationMaxAlert').hide();
                    }
                }



                //if (!compareTime(durationMin, durationMax)) {
                //    if (id == "durationMin") {
                //        $('#durationMinAlert').text("Thời Lượng Tối Thiểu không thể lớn hơn Tối Đa").show('fast');
                //    } else {
                //        $('#durationMaxAlert').text("Thời Lượng Tối Đa không thể nhỏ hơn Tối Thiểu").show('fast');
                //    }
                //    $("#" + id).val(null);
                //}
            }

        }
        function compareTime(upper, lower) {
            var regExp = /(\d{1,2})\:(\d{1,2})/;
            if (parseInt(lower.replace(regExp, "$1$2")) < parseInt(upper.replace(regExp, "$1$2"))) {
                return false;
            } else {
                return true;
            }
        }
        function validateData() {
            if ($('#timeModeName').val().length < 5) {
                $('#timeModeNameAlert').text('Xin hãy nhập tên có độ dài lớn hơn 5').show('fast');
                return false;
            } else if ($('#timeStart').val().length < 1) {
                $('#timeModeNameAlert').hide();
                $('#timeStartAlert').text("Xin hãy chọn 1 thời gian cho giờ bắt đàu").show('fast');
                return false;
            } else if ($('#timeEnd').val().length < 1) {
                $('#timeStartAlert').hide();
                $('#timeEndAlert').text("Xin hãy chọn 1 thời gian cho giờ kết thúc").show('fast');
                return false;
            } else if ($('#durationMin').val().length < 1) {
                $('#timeEndAlert').hide();
                $('#durationMinAlert').text("Xin hãy chọn thời gian tối thiểu").show('fast');
                return false;
            } else if ($('#durationMax').val().length < 1) {
                $('#durationMinAlert').hide();
                $('#durationMaxAlert').text("Xin hãy chọn thời gian tối đa").show('fast');
                return false;
            } else if ($('#rateValue').val().length < 1) {
                $('#durationMaxAlert').hide();
                $('#rateValueAlert').text("Xin hãy nhập hệ số").show('fast');
                return false;
            } else {
                $('.alert-danger').hide();
                return true;
            }
        };




        $('.form_date').datetimepicker({
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });


    </script>

}