﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model TimeModeEditViewModel
@{
    ViewBag.Title = "Quản Lý Loại Giờ";

}
<link href="~/Content/css/khanhcustom.css" rel="stylesheet">
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <h3>Quản Lý Loại Giờ</h3>
                </div>
                <div class="col-md-4 text-right">
                    <a href="@Url.Action("Create", "TimeMode")" class="btn btn-primary pull-right">
                        <i class="zmdi zmdi-plus"></i>    Thêm loại giờ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-padding">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="allcust">
                <!-- Datatable -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbl_timemode" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="">STT</label>
                                    </th>
                                    <th>
                                        <label class="">ID</label>
                                    </th>
                                    <th>
                                        <label class="">Tên loại ngày</label>
                                    </th>
                                    <th>
                                        <label class="">Giờ Bắt Đầu</label>
                                    </th>
                                    <th>
                                        <label class="">Giờ Kết Thúc</label>
                                    </th>
                                    <th>
                                        <label class="">Giờ Tối Thiểu</label>
                                    </th>
                                    <th>
                                        <label class="">Giờ Tối Đa</label>
                                    </th>
                                    <th>
                                        <label class="">ID Loại Ngày</label>
                                    </th>
                                    <th>
                                        <label class="">Loại Ngày</label>
                                    </th>
                                    <th>
                                        <label class="">Tùy chọn</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="editTimeModePanel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="col-form-label">Chỉnh Sửa Loại Giờ</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Tên Loại Giờ</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeModeName, new { @class = "form-control", @id = "timeModeName", @required = "required" })
                                @Html.HiddenFor(timeMode => timeMode.TimeModeViewModel.Id, new { @id = "id" })
                                <lablel class="alert-danger" style="display:none" id="timeModeNameAlert"></lablel>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Giờ Bắt Đầu</label>
                            @*<div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="dateTimePicker" data-link-format="hh:ii">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeStart, new { @class = "form-control", @readonly = "true", @id = "timeStart", @required = "required" })
                                    <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                    <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                </div>*@
                            <div class="col-md-8">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeStart, new { @class = "form-control", @id = "timeStart", @required = "required", @onchange = "checkTime(1, $(this).attr('id'))" })
                                <lablel class="alert-danger" style="display:none" id="timeStartAlert"></lablel>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Giờ Kết Thúc</label>
                            @*<div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="dateTimePicker" data-link-format="hh:ii">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeEnd, new { @class = "form-control", @readonly = "true", @id = "timeEnd", @required = "required" })
                                    <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                    <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                </div>*@
                            <div class="col-md-8">
                                @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.TimeEnd, new { @class = "form-control", @id = "timeEnd", @required = "required", @onchange = "checkTime(1, $(this).attr('id'))" })
                                <lablel class="alert-danger" style="display:none" id="timeEndAlert"></lablel>
                            </div>
                        </div>
                        <div id="blk">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Thời Lượng Tối Thiểu</label>
                                <div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="dateTimePicker" data-link-format="hh:ii:ss">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.DurationMin, new { @class = "form-control", @readonly = "true", @id = "durationMin", @required = "required", @onchange = "checkTime(2, $(this).attr('id'))" })
                                    <lablel class="alert-danger" style="display:none" id="durationMinAlert"></lablel>
                                    <span class="add-on"><i class="icon-remove" style="display: none"></i></span>
                                    <span class="add-on"><i class="icon-th" style="display: none"></i></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Thời Lượng Tối Đa</label>
                                <div class="col-md-8 form_time date input-append" data-date="" data-date-format="hh:ii" data-link-field="dateTimePicker" data-link-format="hh:ii:ss">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.DurationMax, new { @class = "form-control", @readonly = "true", @id = "durationMax", @required = "required", @onchange = "checkTime(2, $(this).attr('id'))" })
                                    <lablel class="alert-danger" style="display:none" id="durationMaxAlert"></lablel>
                                    <span class="add-on"><i class="icon-remove" style="display: none"></i></span>
                                    <span class="add-on"><i class="icon-th" style="display: none"></i></span>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label class="col-md-4 col-form-label">Hệ Số</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(timeMode => timeMode.TimeModeViewModel.RateValue, new { @class = "form-control", @type = "number", @step = "0.1", @required = "required", @id = "rateValue" })
                                    <lablel class="alert-danger" style="display:none" id="rateValueAlert"></lablel>
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Loại Ngày</label>
                                <div class="col-md-8 dropdown">
                                    @Html.DropDownListFor(timeMode => timeMode.TimeModeViewModel.DayTypeId, Model.AvailableTimeModeList, new { @class = "form-control", @id = "dayTypeId" })
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label class="col-md-4 col-form-label">Độ Ưu Tiên</label>
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(timeMode => timeMode.TimeModePriorityEnum, new { @class = "form-control", @id = "priorityId", @required = "required" })
                                </div>
                            </div>*@
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-secondary pull-right" data-dismiss="modal" style="margin-left:5px">
                            <i class="fa fa-times"></i>  Đóng
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary pull-right" onclick="editTimeMode()">
                            <i class="fa fa-floppy-o"></i> Lưu
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
        $(document).ready(function () {
            InitTimeModeDatatable();
            RefreshTable();
            $('#timeStart').mdtimepicker({
                timeFormat: 'hh:mm:ss.000',
                format: 'hh:mm',
                theme: 'blue',
                readOnly: true,
                hourPadding: false
            });
            $('#timeEnd').mdtimepicker({
                timeFormat: 'hh:mm:ss.000',
                format: 'hh:mm',
                theme: 'blue',
                readOnly: true,
                hourPadding: false
            });
            //$('#dateTimePicker').datetimepicker();
            //$('#timeStart').mdtimepicker({ format: 'hh:mm' });
            //$('#timeEnd').mdtimepicker({ format: 'hh:mm' });

    });
    function validateData() {
        if ($('#timeModeName').val().length < 5) {
            $('#timeModeNameAlert').text('Xin hãy nhập tên có độ dài lớn hơn 5').show('fast');
            return false;
        } else if ($('#timeStart').val().length < 1) {
            $('#timeModeNameAlert').hide();
            $('#timeStartAlert').text("Xin hãy chọn 1 thời gian cho giờ bắt đàu").show('fast');
            return false;
        } else if ($('#timeEnd').val().length < 1) {
            $('#timeStartAlert').hide();
            $('#timeEndAlert').text("Xin hãy chọn 1 thời gian cho giờ kết thúc").show('fast');
            return false;
        } else if ($('#durationMin').val().length < 1) {
            $('#timeEndAlert').hide();
            $('#durationMinAlert').text("Xin hãy chọn thời gian tối thiểu").show('fast');
            return false;
        } else if ($('#durationMax').val().length < 1) {
            $('#durationMinAlert').hide();
            $('#durationMaxAlert').text("Xin hãy chọn thời gian tối đa").show('fast');
            return false;
        } else if ($('#rateValue').val().length < 1) {
            $('#durationMaxAlert').hide();
            $('#rateValueAlert').text("Xin hãy nhập hệ số").show('fast');
            return false;
        } else {
            $('.alert-danger').hide();
            return true;
        }
    };
    function compareTime(upper, lower) {
        var regExp = /(\d{1,2})\:(\d{1,2})/;
        if (parseInt(lower.replace(regExp, "$1$2")) < parseInt(upper.replace(regExp, "$1$2"))) {
            return false;
        } else {
            return true;
        }
    }
    function checkTime(type, id) {
        var timeStart = $("#timeStart").val();
        var timeEnd = $("#timeEnd").val();
        var durationMin = $('#durationMin').val();
        var durationMax = $('#durationMax').val();
        if (type == 1) {
            if (!compareTime(timeStart, timeEnd)) {
                if (id == "timeStart") {
                    $('#timeStartAlert').text("Giờ Bắt Đầu không thể sau giờ Kết Thúc").show('fast');
                } else {
                    $('#timeEndAlert').text("Giờ Kết Thúc không thể trước giờ Bắt Đầu").show('fast');
                }
                $('#blk').hide('slow');
                $('#durationMin').val(null);
                $('#durationMax').val(null);
                $("#" + id).val(null);
            } else if (timeStart.length > 1 && timeEnd.length > 1) {
                $('#blk').show('slow');
                $('#timeStartAlert').hide();
                $('#timeEndAlert').hide();
                $('#durationMinAlert').hide();
                $('#durationMaxAlert').hide();
            }
        } else if (type == 2) {
            var regExp = /(\d{1,2})\:(\d{1,2})/;
            var duration = parseInt(timeEnd.replace(regExp, "$1$2")) - parseInt(timeStart.replace(regExp, "$1$2"));
            var tmpDurationMin = parseInt(durationMin.replace(regExp, "$1$2"));
            var tmpDurationMax = parseInt(durationMax.replace(regExp, "$1$2"));

            if (id == 'durationMin') {
                if (tmpDurationMin > duration) {
                    $('#durationMinAlert').text("Thời Lượng Tối Thiểu quá nhiều so vơi khung giờ đã định").show('fast');
                    $("#" + id).val(null);
                } else if (tmpDurationMin > tmpDurationMax) {
                    $('#durationMinAlert').text("Thời Lượng Tối Thiểu không thể vượt quá Tối Đa").show('fast');
                    $("#" + id).val(null);
                } else if (!compareTime(durationMin, durationMax)) {
                    $('#durationMinAlert').text("Thời Lượng Tối Thiểu không thể lớn hơn Tối Đa").show('fast');
                    $("#" + id).val(null);
                } else {
                    $('#durationMinAlert').hide();
                }
            } else {
                if (tmpDurationMax > duration) {
                    $('#durationMaxAlert').text("Thời Lượng Tối Đa quá nhiều so vơi khung giờ đã định").show('fast');
                    $("#" + id).val(null);
                } else if (tmpDurationMin > tmpDurationMax) {
                    $('#durationMaxAlert').text("Thời Lượng Tối Đa không thể ít hơn Tối Thiểu").show('fast');
                    $("#" + id).val(null);
                } else if (!compareTime(durationMin, durationMax)) {
                    $('#durationMaxAlert').text("Thời Lượng Tối Đa không thể nhỏ hơn Tối Thiểu").show('fast');
                    $("#" + id).val(null);
                } else {
                    $('#durationMaxAlert').hide();
                }
            }
        }
    }

     function showModal(str) {
         $('#editTimeModePanel').modal('show');
             let row = str.split(';');
             $('#id').val(row[1]);
             $('#timeModeName').val(row[2]);
             $('#timeStart').val(row[3]);
             $('#timeEnd').val(row[4]);
             $('#durationMin').val(row[5]);
             $('#durationMax').val(row[6]);
             //$('#rateValue').val(row[7]);
             $('#dayTypeId').val(row[7]);
             //$('#priorityId').val(row[10]);
    };
    function editTimeMode() {
        var validResult = validateData();
        if (validResult) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditTimeModeAsync", "TimeMode")',
                data: {
                    "id": $('#id').val(),
                    "timeModeName": $('#timeModeName').val(),
                    "timeStart": $('#timeStart').val(),
                    "timeEnd": $('#timeEnd').val(),
                    "durationMin": $('#durationMin').val(),
                    "durationMax": $('#durationMax').val(),
                    //"rateValue": $('#rateValue').val(),
                    "dayTypeId": $('#dayTypeId').val(),
                    //"priorityId": $('#priorityId').val()
                },
                success: function (result) {
                    if (result) {
                        alert("Thông tin đã được cập nhật")
                    } else {
                        alert("Không thể cập nhật thông tin")
                    }
                    RefreshTable();
                    $('#editTimeModePanel').modal('toggle');
                },
                error: function (error) {
                    alert("Có lỗi xảy ra lúc cập nhật. Hành động đã được hủy bỏ!")
                    console.log(error)
                }
            });
        } else {
            return;
        }
    };
    function deleteTimeMode(str) {
        if (confirm("Bạn có chắc muốn XÓA thông tin này?")) {
            let row = str.split(';');
            $('#id').val(row[1]);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteTimeModeAsync", "TimeMode")',
                data: {
                    "id": $('#id').val()
                },
                success: function (result) {
                    if (result) {
                        alert("Xóa thành công")

                    } else {
                        alert("Không thể xóa dữ liệu")
                    }
                    RefreshTable();
                },
                error: function (erro) {
                    alert("Có lỗi xảy ra lúc xóa. Hành động đã được hủy bỏ!")
                    console.log(error)
                },
            });
        }
    };
    function reDrawDatatable(id) {
        $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
            if (oSettings.oFeatures.bServerSide === false) {
                var before = oSettings._iDisplayStart;
                oSettings.oApi._fnReDraw(oSettings);
                //iDisplayStart has been reset to zero - so lets change it back
                oSettings._iDisplayStart = before;
                oSettings.oApi._fnCalculateEnd(oSettings);
            }
            //draw the 'current' page
            oSettings.oApi._fnDraw(oSettings);
        };
        $(id).dataTable().fnStandingRedraw();
    }

    //calling refresh datatable
    function RefreshTable() {
        reDrawDatatable("#tbl_timemode");
    }
    function InitTimeModeDatatable() {

        $('#tbl_timemode').dataTable({
            "bSort": false,
            "bServerSide": true,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("GetTimeMode", "TimeMode")",
            "bProcessing": true,
            "aLengthMenu": [10, 25, 50],
            "bFilter": true,
            "oLanguage": {
                "sSearchPlaceholder": "Tên Loại Giờ",
                "sSearch": "<button class='icon'><i class='fa fa-search'></i></button>",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }

            },
            "aoColumnDefs": [
                {
                    "aTargets": 2,
                    "bSearchable": true,
                    "sClass": "text-center mid-v-align"
                },
                {
                    "aTargets": [0, 1, 3, 4, 5, 6, 7, 8],
                    "bSortable": false,
                    "bSearchable": false,
                    "sClass": "text-center mid-v-align"
                },
                {
                    "aTargets": 9,
                    "mData": null,
                    "mRender": function (data, type, row) {
                        //return '<button type="submit" class="btn btn-block btn-outline-primary active">Edit</button>';
                        //var data = row[9];
                        let str = row.join(';');
                        var btnEdit = "<a title='Xóa' class='btn btn-sm btn-primary' onclick='showModal(\"" + str + "\")'><i class='fa fa-pencil'></i></a>";
                        var btnDelete = "<a title='Xóa' class='btn btn-sm btn-danger' onclick='deleteTimeMode(\"" + str + "\")'><i class='glyphicon glyphicon-trash'></i></a>";
                        return btnEdit + " " + btnDelete;
                    }
                },
                {
                    "aTargets": [1, 7],
                    "visible": false,
                },

            ],
            "bAutoWidth": false,
        });

        //$('.form_date').datetimepicker({
        //    language: 'en',
        //    weekStart: 1,
        //    todayBtn: 1,
        //    autoclose: 1,
        //    todayHighlight: 1,
        //    startView: 2,
        //    minView: 2,
        //    forceParse: 0
        //});
        //$('.form_time').datetimepicker({
        //    language: 'en',
        //    weekStart: 1,
        //    todayBtn: 1,
        //    autoclose: 1,
        //    todayHighlight: 1,
        //    startView: 1,
        //    minView: 0,
        //    maxView: 1,
        //    forceParse: 0
        //});
    }
</script>