﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model EmployeeEditViewModel
@{
    ViewBag.Title = "Create";
    //IEnumerable<SelectListItem> AvailableSalaryLevels = ViewBag.AvailableSalaryLevels;
    //IEnumerable<SelectListItem> AvailableStores = ViewBag.AvailableStores;
}

@using (Html.BeginForm("CreateEmployee", "Employee"))
{

    <div class="card" style="width:70%;margin:0 auto">
        <div class="card-header">
            <span>Tạo nhân viên</span>

        </div>
        <div class="card-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Cửa hàng</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(emp => emp.EmployeeViewModel.StoreId, Model.AvailableStores, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Tên nhân viên</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(emp => emp.EmployeeViewModel.EmployeeName, new { @class = "form-control", @required = "required", id = "name" })
                        <lablel class="alert-danger" style="display:none" id="nameAlert"></lablel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Ngày sinh</label>
                    <div class="col-md-9 form_date date input-append" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dateTimePicker" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(emp => emp.EmployeeViewModel.DateOfBirth, new { @class = "form-control", @onchange = "checkDOB()", id = "dateofbirth", @required = "required", @readonly = true })
                        <lablel class="alert-danger" style="display:none" id="dobAlert"></lablel>
                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Địa chỉ</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(emp => emp.EmployeeViewModel.Address, new { @class = "form-control", @required = "required", id = "address" })
                        <lablel class="alert-danger" style="display:none" id="addressAlert"></lablel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Số điện thoại</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(emp => emp.EmployeeViewModel.Phone, new { @class = "form-control", @required = "required", id = "phone" })
                        <lablel class="alert-danger" style="display:none" id="phoneAlert"></lablel>
                        <span id="spnPhoneStatus"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Chức vụ</label>
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(emp => emp.RoleSelected, new { @class = "form-control", @required = "required", id = "role" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Bậc lương</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(emp => emp.EmployeeViewModel.SalaryLevelId, Model.AvailableSalaryLevels, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Mã điểm danh</label>
                    <div class="col-md-9">
                        <table>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(emp => emp.EmployeeViewModel.PIN, new { @class = "form-control", id = "result" })
                                </td>
                                <td>
                                    <input type="button" value="Thay đổi" class="btn btn-sm btn-success" onclick="rand()" style="margin-left:10px" />
                                </td>
                            </tr>
                        </table>
                        <span id="message"></span>
                        @*<input id="btnCheck" type="button" value="Show Availability" onclick="CheckAvailability()" /> , onkeyup = "ClearMessage()"*@
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <button type="reset" class="btn btn-sm btn-danger pull-right" style="margin-left:5px">
                <i class="fa fa-refresh"></i> Làm lại
            </button>
            <button type="submit" class="btn btn-sm btn-primary pull-right" id="btnSubmitEmployee" onclick="return checkValidation()">
                <i class="fa fa-floppy-o"></i> Tạo nhân viên
            </button>
        </div>
    </div>

}
<script>
    $(function () {
        displayRole();
        CheckAvailability();
        //$('#phone').blur(function (e) {
        //    if (validatePhone('phone')) {
        //        $(':input[type="submit"]').prop('disabled', false);
        //        $('#spnPhoneStatus').html('Số điện thoại hợp lệ.').show("slow").delay(3000).hide("slow");
        //        $('#spnPhoneStatus').css('color', 'green');
        //    }
        //    else {
        //        $(':input[type="submit"]').prop('disabled', true);
        //        $('#spnPhoneStatus').html('Số điện thoại không hợp lệ. Xin nhập đúng định dạng mẫu: 01xx.xxxx.xxx hoặc 09xx.xxxx.xx').show("slow");
        //        $('#spnPhoneStatus').css('color', 'red');
        //    }
        //});

    });
    function CheckAvailability() {
        var pin = $("#result").val();
        $.ajax({
            type: "POST",
            url: "/Employee/CheckPin1",
            data: '{pin: "' + pin + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var message = $("#message");
                if (response) {
                    $(':input[type="submit"]').prop('disabled', false);
                    message.css("color", "green");
                    message.html("Mã điểm danh có thể sử dụng.").show("slow").delay(5000).hide("slow");
                }
                else {
                   // $(':input[type="submit"]').prop('disabled', true);
                    message.css("color", "red");
                    document.getElementById("result").value = generateRandStr();
                    message.html("Mã điểm danh đã tồn tại. Vui lòng chọn mã điểm danh khác.");
                }
            }
        });
    };
    function ClearMessage() {
        $("#message").html("");
    };
    function displayRole() {
        var Node1 = document.getElementById("role");
        Node1.removeChild(Node1.childNodes[0]);
    };
    function rand() {
        document.getElementById("result").value = generateRandStr();
        CheckAvailability();
    }
    document.getElementById("result").value = generateRandStr();
    function generateRandStr() {


        var candidates = "ABCDEFGHIJKLMNOPQRSTUVWXY123456789";
        var result = "", rand;
        for (var i = 0; i < 1; i++) {
            for (var j = 0; j < 4; j++) {
                rand = Math.floor(Math.random() * candidates.length);
                result += candidates.charAt(rand);
            }
        }

        return result;
    }
    function validatePhone(phone) {
        var a = document.getElementById(phone).value;
        var filter = /^[0-9]{4}.[0-9]{4}.[0-9]{2,3}$/;
        if (filter.test(a)) {
            return true;
        }
        else {
            return false;
        }
    }

    $("#numberOnly").keypress(function (e) {
        if (e.which != 8 && e.which != 46 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            $("#errmsg").html("Digits Only").show().fadeOut(1600);
            return false;
        } else {
            $('input').keyup(function () {
            });
        }
    });
    function checkDOB() {
        var today = new Date();
        var mydate = $("#dateofbirth").val();
        mydate = mydate.split('-');
        var tmpmyDate = new Date(mydate[0], mydate[1] - 1, mydate[2]);
        //if (mydate == 'undefined' || !mydate || mydate.length === 0 || mydate === "") {
        //    $(':input[type="submit"]').prop('disabled', true);
        //} else {
            if (today < tmpmyDate || mydate == "") {
                $("#dateofbirth").val(null);
                $('#dobAlert').text("Xin hãy chọn lại ngày sinh.").show('fast');
            } else {
                $('#dobAlert').hide('fast');
            }
        //}
    }
    $(document).ready(function () {
        $('#hour').mdtimepicker({
            timeFormat: 'hh:mm:ss.000',
            format: 'hh:mm:ss',
            theme: 'blue',
            readOnly: true,
            hourPadding: false
        });
    })
    $('.form_date').datetimepicker({
        language: 'vi',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'vi',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
    function checkValidation() {
        var user = $("#userName").val();
        var name = $("#name").val();
        var dob = $("#dateofbirth").val();
        var pass = $("#pass").val();
        var address = $("#address").val();
        var phone = $("#phone").val();
        var filter = /^[0-9]{4}.[0-9]{4}.[0-9]{2,3}$/;
        var face = $("#face").val();
        {
           if (user.length < 5) {
               $('#userAlert').text("Xin hãy nhập lại tài khoản.").show("slow").delay(3000).hide("slow");
               return false;
           }
           if (pass.length < 5) {
               $('#passAlert').text("Xin hãy nhập lại mật khẩu.").show("slow").delay(3000).hide("slow");
               return false;
           }
           if (name.length < 5) {
               $('#nameAlert').text("Xin hãy nhập lại tên.").show("slow").delay(3000).hide("slow");
               return false;
           }
           if (dob.length =="") {
               $('#dobAlert').text("Xin hãy chọn ngày sinh.").show("slow").delay(3000).hide("slow");
               return false;
           }
           if (address.length < 5) {
               $('#addressAlert').text("Xin hãy nhập lại địa chỉ.").show("slow").delay(3000).hide("slow");
               return false;
           }
           if (!filter.test(phone)) {
               $('#phoneAlert').text("Xin hãy nhập lại số điện thoại.").show("slow").delay(3000).hide("slow");
               return false;
           }
           if (face.length < 5) {
               $('#faceAlert').text("Xin hãy nhập lại mã.").show("slow").delay(3000).hide("slow");
               return false;
           }
        }
    }
    $('#phone').on('keypress', function (e) {
        var key = e.charCode || e.keyCode || 0;
        var phone = $(this);
        if (key !== 8 && key !== 9) {

            if (phone.val().length === 4) {
                phone.val(phone.val() + '.');
            }
            if (phone.val().length === 9) {
                phone.val(phone.val() + '.');
            }
            if (phone.val().length >= 13) {
                phone.val(phone.val().slice(0, 12));
            }
        }
        return (key == 8 ||
          key == 9 ||
          key == 46 ||
          (key >= 48 && key <= 57) ||
          (key >= 96 && key <= 105));
    })


</script>