﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model EmployeeEditViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid" data-select2-id="16">
    <div id="ui-view" data-select2-id="ui-view">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <h3>Quản lý nhân viên</h3>
                    <a onclick="location.href='@Url.Action("Create","Employee")'" class="btn btn-outline-success active pull-right"><i class="fa fa-plus-square-o"></i> </a>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Employee" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>STT</th>
                                        <th>Id</th>
                                        <th>Của hàng</th>
                                        <th>Tài khoản</th>
                                        <th>Mật khẩu</th>
                                        <th>Tên nhân viên</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Số điện thoại</th>
                                        <th>Chức vụ</th>
                                        <th>Bậc lương</th>
                                        <th>Tổng giờ làm việc</th>
                                        <th>Face</th>
                                        <th>Mã điểm danh</th>
                                        <th colspan="2" style="text-align: center; vertical-align: middle">Hành động</th>
                                    </tr>
                                </thead>
                            </table>

                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="card">
                                            <div class="card-header">
                                                <span>Chỉnh sửa thông tin nhân viên</span>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="card-body">

                                                <div class="modal-body">
                                                    <div class="form-group row">

                                                        <div class="col-md-8">
                                                            <input id="id" type="hidden" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label">Cửa hàng</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(emp => emp.EmployeeViewModel.StoreId, Model.AvailableStores, new { @class = "form-control", id = "storeId" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Tài khoản</label>
                                                        <div class="col-md-8">
                                                            <input id="userName" type="text" class="form-control" />
                                                            <lablel class="alert-danger" style="display:none" id="userAlert"></lablel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Mật khẩu</label>
                                                        <div class="col-md-8">
                                                            <input id="passWord" type="text" class="form-control" />
                                                            <lablel class="alert-danger" style="display:none" id="passAlert"></lablel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Tên nhân viên</label>
                                                        <div class="col-md-8">
                                                            <input id="name" type="text" class="form-control" />
                                                            <lablel class="alert-danger" style="display:none" id="nameAlert"></lablel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Ngày sinh</label>
                                                        <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                                                            <input id="dateofbirth" type="text" class="form-control" onchange="checkDOB()" readonly />
                                                            <lablel class="alert-danger" style="display:none" id="DOBAlert"></lablel>
                                                            <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                                            <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Địa chỉ</label>
                                                        <div class="col-md-8">
                                                            <input id="address" type="text" class="form-control" />
                                                            <lablel class="alert-danger" style="display:none" id="addressAlert"></lablel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Số điện thoại</label>
                                                        <div class="col-md-8">
                                                            <input id="phone" type="text" class="form-control" />
                                                            <lablel class="alert-danger" style="display:none" id="phoneAlert"></lablel>
                                                            <span id="spnPhoneStatus"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Chức vụ</label>
                                                        <div class="col-md-8">
                                                            @Html.EnumDropDownListFor(emp => emp.RoleSelected, new { @class = "form-control", id = "role" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Bậc lương</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(emp => emp.EmployeeViewModel.SalaryLevelId, Model.AvailableSalaryLevels, new { @class = "form-control", id = "salarylevel" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Tổng giờ làm việc</label>
                                                        <div class="col-md-8">
                                                            <input id="hour" type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Face</label>
                                                        <div class="col-md-8">
                                                            <input id="faceId" type="text" class="form-control" />
                                                            <lablel class="alert-danger" style="display:none" id="faceAlert"></lablel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="hf-email">Mã điểm danh</label>
                                                        <div class="col-md-8">
                                                            <input id="pin" type="text" class="form-control" readonly />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div><div class="card-footer" style="position:absolute;bottom:0;width:100%">
                                            <button type="button" class="btn btn-sm btn-secondary pull-right" data-dismiss="modal" style="margin-left:5px"><i class="fa fa-times"></i> Đóng</button>
                                            <button type="submit" id="btnEditSubmit" class="btn btn-sm btn-primary pull-right" data-dismiss="modal" onclick="return editEmployeeForm()"><i class="fa fa-floppy-o"></i> Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---modal-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        InitUserDatatable();
        displayRole();
        $(':input').change(function () {
            checkValidation();
        });
        //$('#phone').blur(function (e) {
        //    if (validatePhone('phone')) {
        //        $(':input[type="submit"]').prop('disabled', false);
        //        $('#spnPhoneStatus').html('Số điện thoại hợp lệ.').show("slow").delay(3000).hide("slow");
        //        $('#spnPhoneStatus').css('color', 'green');
        //    }
        //    else {
        //        $(':input[type="submit"]').prop('disabled', true);
        //        $('#spnPhoneStatus').html('Số điện thoại không hợp lệ. Xin nhập đúng định dạng mẫu: 01xx.xxxx.xxx hoặc 09xx.xxxx.xx').show("slow");
        //        $('#spnPhoneStatus').css('color', 'red');
        //    }
        //});
    });
    function InitUserDatatable() {
        $("#DataTables_Employee").dataTable().fnDestroy();
        $("#DataTables_Employee").dataTable({
            "bRetrieve": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("GetEmployees", "Employee")",
            "bProcessing": true,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]],
            "aoColumns": [{ "sWidth": "1%" }, { "sWidth": "1%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "10%" }, { "sWidth": "5%" }, { "sWidth": "5%" }, { "sWidth": "5%" } ],
            "bFilter": true,
            "bAutoWidth": false,
            "oLanguage": {
                "sSearchPlaceholder": "Tên nhân viên",
                "sSearch": " <button class='icon'><i class='fa fa-search'></i></button>",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,12,13,14,15],
                    "sClass": "text-center"
                },
                {
                    "aTargets": [0,1,2,3,4,6,7,8,9,10,11,12,13],
                    "bSortable": false,
                    "bSearchable": false,
                },
                 {
                     "aTargets": [1,11,12],
                     "visible": false,
                 },

           {
               "aTargets": [14],
               "bSortable": false,
               "mRender": function (data, type, row) {
                   var data = row[1];
                   let str = row.join(';');
                   var editer = "<button type='button' class='btn btn-outline-primary active' style='margin-right:5px' onclick='showModal(\"" + str + "\")'><i class='icon-note';></i></button>";
                   return editer;
               }
           },
            {
                "aTargets": [15],
                "bSortable": false,
                "mRender": function (data, type, row) {
                    var data = row[1];
                    let str = row.join(';');
                    var deleteEmployee = "<a title='Xóa' class='btn btn-outline-danger active' onclick='deleteEmployee(" + data + ")'><i class='fa fa-trash-o'></i></a>";
                    return deleteEmployee;
                }
            },
            ],
            "bAutoWidth": false,
        });
    }
    function showModal(str) {
        $('#myModal').modal('show');
        let row = str.split(';');
        $("#id").val(row[1]);
        $("#storeId").val(row[14]);
        $("#userName").val(row[3]);
        $("#passWord").val(row[4]);
        $("#name").val(row[5]);
        $("#dateofbirth").val(row[6]);
        $("#address").val(row[7]);
        $("#phone").val(row[8]);
        $("#role").val(row[15]);
        $("#salarylevel").val(row[16]);
        $("#hour").val(row[11]);
        $("#faceId").val(row[12]);
        $("#pin").val(row[13]);
    }
    function editEmployeeForm() {
        if (checkValidation()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditEmployees", "Employee")',
                data: {
                    "Id": $("#id").val(),
                    "storeId": $("#storeId").val(),
                    "userName": $("#userName").val(),
                    "passWord": $("#passWord").val(),
                    "name": $("#name").val(),
                    "dateofbirthe": $("#dateofbirth").val(),
                    "addresse": $("#address").val(),
                    "phonee": $("#phone").val(),
                    "rolee": $("#role").val(),
                    "salarylevele": $("#salarylevel").val(),
                    "houre": $("#hour").val(),
                    "faceIde": $("#faceId").val(),
                    "pin": $("#pin").val(),
                },
                success: function (result) {
                    alert("Chỉnh sửa thành công");
                    InitUserDatatable();
                },
                error: function (error) {
                    alert("Chỉnh sửa không thành công, xin thử lại sau");
                }
            });
        } else {
            //alert("Không thể chỉnh sửa.");
            return;
        }
    }
    function deleteEmployee(Id) {
        if (confirm("Bạn muốn xóa nhân viên này?")) {
            $.ajax({
                type: 'URL',
                url: '@Url.Action("DeleteEmployee")',
                method: 'POST',
                data: { Id: Id },
                success: function (result) {
                    if (result.success) {
                        alert("Xóa thành công!");
                        InitUserDatatable();
                    } else {
                        alert("Xóa không thành công, xin thử lại sau");
                    }
                },
                error: function (error) {
                    alert("Xóa không thành công, xin thử lại sau");
                }
            });
        };
    };
    $('.form_date').datetimepicker({
        language: 'vi',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function displayRole() {
        var Node1 = document.getElementById("role");
        Node1.removeChild(Node1.childNodes[0]);
    };
    function checkDOB() {
        var today = new Date();
        var mydate = $("#dateofbirth").val();
        mydate = mydate.split('/');
        var tmpmyDate = new Date(mydate[2], mydate[1] - 1, mydate[0]);
        if (today < tmpmyDate) {
            $("#dateofbirth").val(null);
            $('#DOBAlert').text("Xin hãy chọn lại ngày sinh.").show('fast');
            $(':input[type="submit"]').prop('disabled', true);
        } else {
            $('#DOBAlert').hide('fast');
            $(':input[type="submit"]').prop('disabled', false);
        }
    }
    function validatePhone(phone) {
        var a = document.getElementById(phone).value;
        var filter = /^[0-9]{4}.[0-9]{4}.[0-9]{2,3}$/;
        if (filter.test(a)) {
            return true;
        }
        else {
            return false;
        }
    }
    $("#hour").keypress(function (e) {
        if (e.which != 8 && e.which != 46 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            $("#errmsg").html("Digits Only").show().fadeOut(1600);
            return false;
        } else {
            $('input').keyup(function () {
            });
        }
    });
    $('#phone').on('keypress', function (e) {
        var key = e.charCode || e.keyCode || 0;
        var phone = $(this);
        if (key !== 8 && key !== 9) {

            if (phone.val().length === 4) {
                phone.val(phone.val() + '.');
            }
            if (phone.val().length === 9) {
                phone.val(phone.val() + '.');
            }
            if (phone.val().length >= 13) {
                phone.val(phone.val().slice(0, 12));
            }
        }
        return (key == 8 ||
          key == 9 ||
          key == 46 ||
          (key >= 48 && key <= 57) ||
          (key >= 96 && key <= 105));
    })
    function checkValidation() {
        var user = $("#userName").val();
        var name = $("#name").val();
        var dob = $("#dateofbirth").val();
        var pass = $("#passWord").val();
        var address = $("#address").val();
        var phone = $("#phone").val();
        var filter = /^[0-9]{4}.[0-9]{4}.[0-9]{2,3}$/;
        var face = $("#faceId").val();
        {

            if (user.length < 5) {
                $('#userAlert').text("Xin hãy nhập lại tài khoản.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else if (pass.length < 5) {
                $('#passAlert').text("Xin hãy nhập lại mật khẩu.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else if (name.length < 5) {
                $('#nameAlert').text("Xin hãy nhập lại tên.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else if (dob.length == "") {
                $('#dobAlert').text("Xin hãy chọn ngày sinh.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else if (address.length < 5) {
                $('#addressAlert').text("Xin hãy nhập lại địa chỉ.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else if (!filter.test(phone)) {
                $('#phoneAlert').text("Xin hãy nhập lại số điện thoại.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else if (face.length < 5) {
                $('#faceAlert').text("Xin hãy nhập lại mã.").show("slow").delay(3000).hide("slow");
                return false;
            }
            else {
                return true;
            }
        }
    }
</script>
