﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model DayTypeEditViewModel

@{
    /**/

    ViewBag.Title = "Create";
    Array daysList = Enum.GetValues(typeof(DaysOfWeekEnum));
}

@using (Html.BeginForm("CreateDayTypeAsync", "DayType"))
{
    <div style="width: 60%; margin:0 auto">
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <h4 class="card-title mb-0">Tạo Loại Ngày</h4>
                        </div>
                        <div class="col-sm-7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="text-input">
                            Tên Loại Ngày <label class="text-danger">(*)</label>
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(dayType => dayType.DayTypeViewModel.DayTypeName, new { @class = "form-control", @id = "dayTypeName" })
                            @*@Html.HiddenFor(dayType => dayType.BrandId, new { @value = System.Web.HttpContext.Current.Session["BRANDID"]})*@
                            @Html.HiddenFor(dayType => dayType.DayTypeViewModel.BrandId, new { @value = "1" })
                            <lablel class="alert-danger" style="display:none" id="dayTypeNameAlert"></lablel>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="text-input">
                            Xin Hãy Chọn Loại Ngày <label class="text-danger">(*)</label>
                        </label>
                        <div class="col-md-3">
                            <label class="nav-label"><input id="rdb1" type="radio" name="toggler" value="1" title="Thứ" /> Chọn theo thứ</label>
                        </div>
                        <div class="col-md-4">
                            <label class="nav-label"><input id="rdb2" type="radio" name="toggler" value="2" title="Ngày cố định" /> Chọn theo ngày xác định</label>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="text-input">
                        </label>
                        <div class="col-md-8 col-form-label">
                            <lablel class="alert-danger" style="display:none" id="radioBtnAlert"></lablel>
                        </div>
                    </div>


                    <div id="blk-1" class="toHide " style="display:none">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label ">Thứ Trong Tuần</label>
                            <div class="col-md-8">
                                @*@Html.TextBoxFor(dayType => dayType.DayTypeViewModel.DaysOfTheWeek, new { @class = "form-control", @id = "daysOfWeek" })*@
                                @foreach (int checkText in daysList)
                                {
                                    int pos = checkText - 2;
                                    <p>

                                        @Html.CheckBox(daysList.GetValue(pos).ToString(), new { @class = "checkbox", @value = checkText, @style = "display: inline-flex" })
                                        <label class="label" style="color: black">@Html.DisplayName(Model.WeekDayNames.GetValue(pos).ToString())</label>
                                    </p>
                                }
                                @Html.HiddenFor(dayType => dayType.DayTypeViewModel.DaysOfTheWeek, new { @id = "daysOfWeek" })
                                <lablel class="alert-danger" style="display:none" id="weekDaysAlert"></lablel>
                            </div>
                        </div>
                    </div>
                    <div id="blk-2" class="toHide" style="display:none">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">
                                Từ Ngày <label class="text-danger">(*)</label>
                            </label>
                            @*<div class="col-md-8">
                            <div class="form-control" id="fromDatePicker"></div>
                            @Html.HiddenFor(dayType => dayType.FromDate)
                        </div>*@
                            <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                                @Html.TextBoxFor(dayType => dayType.DayTypeViewModel.FromDate, new { @class = "form-control", @readonly = "true", @id = "fromDate", @required = "requried" })
                                <lablel class="alert-danger" style="display:none" id="fromDateAlert"></lablel>
                                <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="text-input">
                                Đến Ngày <label class="text-danger">(*)</label>
                            </label>
                            @*<div class="col-md-8">
                            <div class="form-control" id="toDatePicker"></div>
                            @Html.HiddenFor(dayType => dayType.ToDate)
                        </div>*@
                            <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                                @Html.TextBoxFor(dayType => dayType.DayTypeViewModel.ToDate, new { @class = "form-control", @readonly = "true", @id = "toDate" })
                                <lablel class="alert-danger" style="display:none" id="toDateAlert"></lablel>
                                <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-12">
                    <button type="reset" class="btn btn-sm btn-danger pull-right" title="Xóa Mẫu" style="margin-left:5px">
                        <i class="fa fa-refresh"></i> Làm Lại
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary pull-right" id="submitBtn" title="Tạo Mới" onclick="return validateData()">
                        <i class="fa fa-floppy-o"></i> Tạo
                    </button>
                </div>
            </div>
        </div>
        
    </div>
}
<script type="text/javascript">

    $(function () {
        $("#toDate").change(function () {
            checkDate(2);
        });
        $("#fromDate").change(function () {
            checkDate(1);
        });
    });

    function checkDate(value) {
        var fromDateValue = $("#fromDate").val();
        var toDateValue = $("#toDate").val();
        if (fromDateValue != 'NULL' && toDateValue != 'NULL') {
            fromDateValue = fromDateValue.split('/');
            toDateValue = toDateValue.split('/');

            var tmpFromDate = new Date(fromDateValue[2], fromDateValue[1] - 1, fromDateValue[0]);
            var tmpToDate = new Date(toDateValue[2], toDateValue[1] - 1, toDateValue[0]);
            if (tmpToDate < tmpFromDate) {
                if (value == 1) {
                    $("#fromDate").val(null);
                    $('#fromDateAlert').text("Xin hãy nhập 'Đến Ngày' sau 'Từ Ngày'").show('fast');
                } else {
                    $("#toDate").val(null);
                    $('#toDateAlert').text("Xin hãy nhập 'Đến Ngày' sau 'Từ Ngày'").show('fast');
                }
            } else {
                $('#toDateAlert').hide();
                $('#fromDateAlert').hide();
            }
        }
    };

    $(function () {
        $("[name=toggler]").click(function () {
            $('.toHide').hide('slow');
            $("#blk-" + $(this).val()).show('slow');
            $('#radioBtnAlert').hide();
            if ($(this).val() == 1) {
                $('#fromDate').val(null);
                $('#toDate').val(null);
            } else {
                $('input:checkbox.checkbox').prop('checked', false);

            }
        });
    });

    function validateData() {
        $('#daysOfWeek').val($('.checkbox:checked').map(function () {
            return this.value;
        }).get().join('-'));

        var daytypename = $('#dayTypeName').val();
        var daysofweek = $('#daysOfWeek').val()
        var fromdate = $('#fromDate').val();
        var todate = $('#toDate').val();

        if (daytypename.length < 5) {
            $('#dayTypeNameAlert').text("Xin hãy nhập tên loại ngày có độ dài lớn hơn 5").show('fast');
            return false;
        } else if (!$('input[name=toggler]').is(':checked')) {
            $('#radioBtnAlert').text("Xin hãy chọn 1 trong 2 lựa chọn").show('fast');
            return false;
        } else if ($('#blk-1').is(':visible')) {
            $('#dayTypeNameAlert').hide();
            $('#radioBtnAlert').hide();
            if (daysofweek.length < 1) {
                $('#weekDaysAlert').text("Xin hãy chọn ít nhất 1 ngày").show('fast');
                return false;
            } else {
                $('#weekDaysAlert').hide();
                return true;
            }
        } else if ($('#blk-2').is(':visible')) {
            $('#dayTypeNameAlert').hide();
            if (fromdate.length < 1) {
                $('#fromDateAlert').text("Xin hãy chọn ngày cho 'từ ngày'").show('fast');
                return false;
            } else if (todate.length < 1) {
                $('#toDateAlert').text("Xin hãy chọn ngày cho 'đến ngày'").show('fast');
                return false;
            } else {
                $('#toDateAlert').hide();
                $('#fromDateAlert').hide();
                return true;
            }
        }
    }


    $('.form_date').datetimepicker({
        language: 'vi',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
        //$('.form_datetime').datetimepicker({
        //    weekStart: 1,
        //    todayBtn: 1,
        //    autoclose: 1,
        //    todayHighlight: 1,
        //    startView: 2,
        //    forceParse: 0,
        //    showMeridian: 1
        //});

        //$('.form_time').datetimepicker({
        //    weekStart: 1,
        //    todayBtn: 1,
        //    autoclose: 1,
        //    todayHighlight: 1,
        //    startView: 1,
        //    minView: 0,
        //    maxView: 1,
        //    forceParse: 0
        //});
</script>

