﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model DayTypeEditViewModel
@{
    /**/

    ViewBag.Title = "Index";
    Array daysList = Enum.GetValues(typeof(DaysOfWeekEnum));
}
<link href="~/Content/css/khanhcustom.css" rel="stylesheet">
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Quản Lý Loại Ngày</h4>
                    </div>
                    <div class="col-sm-7">
                        <button onclick="location.href='@Url.Action("Create", "DayType")'" class="btn btn-outline-success active pull-right" btn-sm>
                            <i class="fa fa-plus-circle" style="background:none"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            @*<a onclick="location.href='@Url.Action("Create", "DayType")'" class="btn btn-brand btn-sm btn-spotify"><i class="fa fa-plus-circle" style="background:none"></i> Tạo Loại Ngày</a>*@
            <div class="col-sm-12">
                <table border="0" class="table table-striped table-bordered table-hover table-condensed" id="tbl_daytype">
                    <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle">STT</th>
                            <th>ID</th>
                            <th>Tên Loại Ngày</th>
                            <th>Thứ Trong Tuần</th>
                            <th>Từ Ngày</th>
                            <th>Đến Ngày</th>
                            <th colspan="2" style="text-align: center; vertical-align: middle">Hành Động</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="editDayTypePanel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="col-form-label">Chỉnh Sửa Loại Ngày</h3>
                        <button type="button" class="close" data-dismiss="modal" title="Đóng">&times;</button>
                    </div>
                    <div class="card-body">

                        <form action="" method="post" class="form-horizontal">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Tên Loại Ngày</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(dayType => dayType.DayTypeViewModel.DayTypeName, new { @class = "form-control", @required = "required", @id = "dayTypeName", @onchange = "checkDate()" })
                                    @Html.HiddenFor(dayType => dayType.DayTypeViewModel.Id, new { @id = "id" })
                                    <lablel class="alert-danger" style="display:none" id="dayTypeNameAlert"></lablel>
                                </div>
                            </div>
                            <div id="blk-1" class="toHide " style="display:none">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">Thứ Trong Tuần</label>
                                    <div class="col-md-8">
                                        @foreach (int checkText in daysList)
                                        {
                                            int pos = checkText - 2;
                                            <p>
                                                @Html.CheckBox(daysList.GetValue(pos).ToString(), new { @class = "checkbox", @value = checkText, @style = "display: inline-flex" })
                                                @Html.DisplayName(Model.WeekDayNames.GetValue(pos).ToString())
                                            </p>
                                        }
                                        @Html.HiddenFor(dayType => dayType.DayTypeViewModel.DaysOfTheWeek, new { @id = "daysOfWeek" })
                                        <lablel class="alert-danger" style="display:none" id="weekDaysAlert"></lablel>
                                    </div>
                                </div>
                            </div>
                            <div id="blk-2" class="toHide " style="display:none">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">Từ Ngày</label>
                                    <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="mm/dd/yyyy">
                                        @Html.TextBoxFor(dayType => dayType.DayTypeViewModel.FromDate, new { @class = "form-control", @readonly = "true", @id = "fromDate", @required = "required" })
                                        <lablel class="alert-danger" style="display:none" id="fromDateAlert"></lablel>
                                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">Đến Ngày</label>
                                    <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                                        @Html.TextBoxFor(dayType => dayType.DayTypeViewModel.FromDate, new { @class = "form-control", @readonly = "true", @id = "toDate", @required = "required" })
                                        <lablel class="alert-danger" style="display:none" id="toDateAlert"></lablel>
                                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-secondary pull-right  " data-dismiss="modal" style="margin-left:5px" title="Đóng">
                            <i class="fa fa-times"></i>  Đóng
                        </button>
                        <button type="button" class="btn btn-sm btn-primary pull-right" id="submitBtn" onclick="editDayType()" title="Lưu">
                            <i class="fa fa-floppy-o"></i> Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#toDate").change(function () {
            checkDate(2);
        });
        $("#fromDate").change(function () {
            checkDate(1);
        });
    });

    function checkDate(value) {
        var fromDateValue = $("#fromDate").val();
        var toDateValue = $("#toDate").val();
        if (fromDateValue != 'NULL' && toDateValue != 'NULL') {
            fromDateValue = fromDateValue.split('/');
            toDateValue = toDateValue.split('/');

            var tmpFromDate = new Date(fromDateValue[2], fromDateValue[1] - 1, fromDateValue[0]);
            var tmpToDate = new Date(toDateValue[2], toDateValue[1] - 1, toDateValue[0]);
            if (tmpToDate < tmpFromDate) {
                if (value == 1) {
                    $("#fromDate").val(null);
                    $('#fromDateAlert').text("Xin hãy nhập 'Đến Ngày' sau 'Từ Ngày'").show('fast');
                } else {
                    $("#toDate").val(null);
                    $('#toDateAlert').text("Xin hãy nhập 'Đến Ngày' sau 'Từ Ngày'").show('fast');
                }
            } else {
                $('#toDateAlert').hide();
                $('#fromDateAlert').hide();
            }
        }
    }

    $(document).ready(function () {
        InitDayTypeDatatable();
            RefreshTable();
            //$('#fromDatePicker').dateTimePicker({
            //    title: "Select Date",
            //    dateFormat: "DD-MM-YYYY",
            //    showTime: false,
            //});
            //$('#toDatePicker').dateTimePicker({
            //    title: "Select Date",
            //    dateFormat: "DD-MM-YYYY",
            //    showTime: false,
            //});
    });
    function validateData() {
        var dayTypeName = $('#dayTypeName').val();
        var daysOfWeek = $('#daysOfWeek').val()
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();

        if (dayTypeName.length < 5) {
            $('#dayTypeNameAlert').text("Xin hãy nhập tên loại ngày có độ dài lớn hơn 5").show('fast');
            return false;
        } else if ($('#blk-1').is(':visible')) {
            $('#dayTypeNameAlert').hide();
            if (daysOfWeek.length < 1) {
                $('#weekDaysAlert').text("Xin hãy chọn ít nhất 1 ngày").show('fast');
                return false;
            } else {
                $('#weekDaysAlert').hide();
                return true;
            }
        } else if ($('#blk-2').is(':visible')) {
            $('#dayTypeNameAlert').hide();
            if (fromDate.length < 1) {
                $('#fromDateAlert').text("Xin hãy chọn ngày cho 'Từ Ngày'").show('fast');
                return false;
            } else if (toDate.length < 1) {
                $('#toDateAlert').text("Xin hãy chọn ngày cho 'Đến Ngày'").show('fast');
                return false;
            } else {
                $('#toDateAlert').hide();
                $('#fromDateAlert').hide();
                return true;
            }
        }
    }

    function editDayType() {
        $('#daysOfWeek').val($('.checkbox:checked').map(function () {
            return this.value;
        }).get().join('-'));

        var validResult = validateData();
        if (validResult) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditDayTypeAsync", "DayType")',
                data: {
                    "id": $('#id').val(),
                    "dayTypeName": $('#dayTypeName').val(),
                    "dayTypeRate": $('#dayTypeRate').val(),
                    "daysOfWeek": $('#daysOfWeek').val(),
                    "fromDate": $('#fromDate').val(),
                    "toDate": $('#toDate').val(),
                },

                success: function (result) {
                    if (result) {
                        alert("Thông tin đã được cập nhật")
                    } else {
                        alert("Không thể cập nhật thông tin")
                    }
                    RefreshTable();
                    $('#editDayTypePanel').modal('toggle');
                },
                error: function (error) {
                    alert("Có lỗi xảy ra lúc cập nhật. Hành động đã được hủy bỏ!")
                    console.log(error)
                }
            });
        } else {

            return;
        }

    };
    function deleteDayType(str) {
        if (confirm("Bạn có chắc muốn XÓA thông tin này?")) {
            let row = str.split(';');
            $('#id').val(row[1]);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteDayTypeAsync", "DayType")',
                data: {
                    "id": $('#id').val()
                },
                success: function (result) {
                    if (result[0].length > 1) {
                        alert("Loại ngày này đang được sử dụng bởi loại giờ [" + result[0] + "]\nKHÔNG THỂ XÓA!!")
                    } else if (result[1].length > 1) {
                        alert("Xóa không thành công")
                    } else {
                        alert("Xóa thành công")
                    }
                    RefreshTable();
                },
                error: function () {
                    alert("Có lỗi xảy ra lúc cập nhật. Hành động đã được hủy bỏ!")
                    console.log(error)
                }
            });
        }
    };
    function showModal(str) {
        $('input:checked').prop('checked', false);
        $('.alert-danger').hide();

        $('#editDayTypePanel').modal('show');
        let row = str.split(';');
        $('#id').val(row[1]);
        $('#dayTypeName').val(row[2]);
        $('#daysOfWeek').val(row[3]);
        $('#fromDate').val(row[4]);
        $('#toDate').val(row[5]);

        let weekDayBd = $('#daysOfWeek').val().split('-');


        if ($('#daysOfWeek').val().length > 0) {
            $('.toHide').hide('slow');
            $("#blk-1").show('slow');
            for (var i = 0; i < weekDayBd.length; i++) {
                $('input:checkbox').filter(function () {
                    return this.value == weekDayBd[i]
                }).prop('checked', true)
            }
        } else {
            $('.toHide').hide('slow');
            $("#blk-2").show('slow');
        }
    };
    function reDrawDatatable(id) {
        $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
            if (oSettings.oFeatures.bServerSide === false) {
                var before = oSettings._iDisplayStart;
                oSettings.oApi._fnReDraw(oSettings);
                //iDisplayStart has been reset to zero - so lets change it back
                oSettings._iDisplayStart = before;
                oSettings.oApi._fnCalculateEnd(oSettings);
            }
            //draw the 'current' page
            oSettings.oApi._fnDraw(oSettings);
        };
        $(id).dataTable().fnStandingRedraw();
    }

    //calling refresh datatable
    function RefreshTable() {
        reDrawDatatable("#tbl_daytype");
    }
    function InitDayTypeDatatable() {

        $('#tbl_daytype').dataTable({
            "bSort": false,
            "bServerSide": true,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("GetDayType", "DayType")",
            "bProcessing": true,
            "aLengthMenu": [10, 25, 50],
            "bFilter": true,
            "oLanguage": {
                "sSearchPlaceholder": "Tên Loại Ngày",
                "sSearch": "<button class='icon'><i class='fa fa-search'></i></button>",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }

            },
            "aoColumnDefs": [
                {
                    "aTargets": 6,
                    "mData": null,
                    "mRender": function (data, type, row) {
                        let str = row.join(';');
                        return "<button type='submit' class='btn btn-outline-primary active' title='Sửa' onclick='showModal(\"" + str + "\")'><i class='icon-note' /></button>";
                    }
                },
                {
                    "aTargets": 1,
                    "visible": false,

                },
                {
                    "aTargets": 7,
                    "mData": null,
                    "mRender": function (data, type, row) {
                        let str = row.join(';');
                        return "<button type='submit' class='btn btn-outline-danger active' title='Xóa' onclick='deleteDayType(\"" + str + "\")'><i class='fa fa-trash'/></button>";
                    }
                },
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7],
                    "bSortable": false,
                    "sClass": "text-center mid-v-align"
                }, {
                    "bSortable": false,
                    "sClass": "text-center"
                },

            ],
            "bAutoWidth": false,
        });
        $('.form_date').datetimepicker({
            language: 'vi',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    };
</script>

