﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model AttendanceViewModel
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <h2>Index</h2>
    @*<div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/MM/yyyy" data-link-field="dateTimePicker" data-link-format="dd/MM/yyyy">
            <input id="dateSelected" class="form-control" />
            <span class="add-on"><i class="icon-remove"></i></span>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>*@
    <div class="row m-t-10">
        <div class="col-md-9">
            <div class="col-md-2 p-l-0 p-r-0">
                <label class="control-label p-t-5">Loại Ca:</label>
                <input type="hidden" id="shiftType" value="-1" />
            </div>
            <div class="group-radio-buttons col-md-10 p-l-0">
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="shift-filter" value="-1" class="nice-check" id="rbShiftTypeAll" checked onchange="reloadShift()" />
                    <label for="rbShiftTypeAll"><span>Tất cả</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="shift-filter" value="0" class="nice-check" id="rbShiftTypeBasic" onchange="reloadShift()" />
                    <label for="rbShiftTypeBasic"><span>Ca chính</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="shift-filter" value="1" class="nice-check" id="rbShiftTypeOverTime" onchange="reloadShift()" />
                    <label for="rbShiftTypeOverTime"><span>Ca OT</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-12 p-t-5">
        <div class="col-md-9">
            <div class="col-md-2 p-l-0 p-r-0">
                <label class="control-label p-t-5">Trạng thái:</label>
                <input type="hidden" id="Status" value="-1" />
            </div>
            <div class="group-radio-buttons col-md-10 p-l-0">
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="mode-filter" value="-1" class="nice-check" id="rbStatusAll" checked onchange="reloadStatus()" />
                    <label for="rbStatusAll"><span>Tất cả</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="mode-filter" value="@((int)AttendanceStatusEnum.Waiting)" class="nice-check" id="rbStatusProcessing" onchange="reloadStatus()" />
                    <label for="rbStatusProcessing"><span>Chờ duyệt</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="mode-filter" value="@((int)AttendanceStatusEnum.Accept)" class="nice-check" id="rbStatusApproved" onchange="reloadStatus()" />
                    <label for="rbStatusApproved"><span>Đã duyệt</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="mode-filter" value="@((int)AttendanceStatusEnum.Reject)" class="nice-check" id="rbStatusReject" onchange="reloadStatus()" />
                    <label for="rbStatusReject"><span>Đã hủy</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-12 p-t-5">
        <div class="col-md-9">
            <div class="col-md-2 p-l-0 p-r-0">
                <label class="control-label p-t-5">Tình trạng</label>
                <input type="hidden" id="isLate" value="-1" />
            </div>
            <div class="group-radio-buttons col-md-10 p-l-0">
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="type-filter" value="-1" class="nice-check" id="rbIsLateAll" checked onchange="reloadIsLate()" />
                    <label for="rbIsLateAll"><span>Tất cả</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="type-filter" value="0" class="nice-check" id="rbIsLate" onchange="reloadIsLate()" />
                    <label for="rbIsLate"><span>Đi trễ</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="type-filter" value="1" class="nice-check" id="rbIsEarly" onchange="reloadIsLate()" />
                    <label for="rbIsEarly"><span>Về sớm</span></label>
                </div>
                <div class="medium-radio-button-width col-md-3 p-l-0">
                    <input type="radio" name="type-filter" value="2" class="nice-check" id="rbIsNotLate" onchange="reloadIsLate()" />
                    <label for="rbIsNotLate"><span>Đúng giờ</span></label>
                </div>
            </div>
        </div>

    </div>
    <div class="input-append date" id="datetimepicker" data-date-format="dd/mm/yyyy" data-link-format="dd/mm/yyyy">
        <input id="chooseDay" size="16" type="text" readonly>
        <span class="add-on"><i class="icon-th dtp-trigger"></i></span>
        <button onclick="loadAttendance()">Tìm</button>
    </div>
    <div class="col-md-3">
        <button onclick="AcceptAllAttendance()">Duyệt nhanh tất cả</button>
    </div>
    <table id="UserDatatable" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    <label class="">STT</label>
                </th>
                <th>
                    <label class="">Id(invisible)</label>
                </th>
                <th>
                    <label class="">Tên nhân viên</label>
                </th>
                <th>
                    <label class="">Ngày làm việc</label>
                </th>
                <th>
                    <label class="">Giờ vào</label>
                </th>
                <th>
                    <label class="">Giờ ra</label>
                </th>
                <th>
                    <label class="">Ca bắt đầu</label>
                </th>
                <th>
                    <label class="">Ca kết thúc</label>
                </th>
                <th>
                    <label class="">Đi trễ(invisible)</label>
                </th>
                <th>
                    <label class="">Về sớm(invisible)</label>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="editAttendancePanel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="card-body">

                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Time Mode Name</label>
                            <div class="col-md-8 col-form-label">

                            </div>
                            @Html.TextBoxFor(att => att.CheckMin, new { @class = "form-control", @id = "checkMinTimePicker" })
                            @*@Html.HiddenFor(att => att.CheckMin, new { @class = "form-control" })*@
                        </div>


                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-secondary pull-right" data-dismiss="modal" style="margin-left:5px">
                        <i class="icon-close"></i>  Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary pull-right" onclick="editTimeMode()">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        loadAttendance();
    });
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }
    var today = dd + '/' + mm + '/' + yyyy;
    today = "01/06/2018";
    $('#chooseDay').val(today);
    $('#datetimepicker').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function AcceptAllAttendance() {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateAllAttendanceStt", "Attendance")',
                data: {
                    'strChooseDay': $('#chooseDay').val(),
                },
            success: function (result) {
                $.alert(result.message);
                    loadAttendance();
                },
                error: function (error) {
                    $.alert(error.message);
                }
        });
    }

     function loadAttendance() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadAttendance", "Attendance")',
                data: {
                    'strChooseDay': $('#chooseDay').val(),
                    'status': $("#Status").val(),
                    'isLate': $("#isLate").val(),
                    'typeShift': $("#shiftType").val(),
                },
                success: function (result) {
                    InitUserDatatable(result.aaData);
                    //loadReport();
                },
                error: function (error) {
                    $.alert("Cõ lỗi xảy ra. Vui lòng thử lại sau.");
                }
            });
        }
    function InitUserDatatable(data) {
        $("#UserDatatable").dataTable().fnDestroy();
        $("#UserDatatable").dataTable({
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "data": data,
            "bProcessing": true,
            "iDisplayLength": 10,
            "fixedColumns": {
                heightMatch: "20px",
            },
            "aLengthMenu": [10, 25, 50],
                "oLanguage": {
                    "sSearchPlaceholder": "Tên sản phẩm",
                    "sSearch": " <button class='icon'><i class='fa fa-search'></i></button>",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sFirst": "Đầu",
                        "sPrevious": "Trước",
                        "sNext": "Tiếp",
                        "sLast": "Cuối"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0,2,3,4,5,6,7],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    },
                    {
                        "aTargets": [1,8,9],
                        "visible": false,
                    },
                    {
                    "aTargets": [4],
                   "mRender": function (data, type, row) {
                       var status = "";
                       var color = "";
                       var colorS = "";
                       var isLate = row[8];
                       if (data.localeCompare("") === 0) {
                           color = "<div style='color:red'>";
                           data = "Chưa cập nhật"
                       }
                       else if (isLate === true) {
                           color = "<div class='label label-danger'>";
                       }
                       else {
                           color = "<div class='label label-success'>";
                       }
                       return color + data + '</div>';
                        }
                    },
                    {
                        "aTargets": [5],
                        "mRender": function (data, type, row) {
                            var status = "";
                            var color = "";
                            var colorS = "";
                            var isSoon = row[9];
                            if (data.localeCompare("") === 0) {
                                color = "<div style='color:red'>";
                                data="Chưa cập nhật"
                            }
                            else if (isSoon === true) {
                                color = "<div class='label label-danger'>";
                            }
                            else {
                                color = "<div class='label label-success'>";
                            }
                            return color + data + '</div>';
                        }
                    },
                    {
                        "aTargets": [10],
                        "mRender": function (data, type, row) {
                            checkMin = row[4];
                            checkMax = row[5];
                            shiftMin = row[6];
                            shiftMax = row[7];
                            attStatus = row[10];
                            createdPerson = row[11];
                            var attId = row[1];
                            let str = row.join(';');
                            var duyet = "<button type='submit' class='btn btn-block btn-outline-primary active' onclick='duyetAtt(\"" + str + "\")'>Duyệt</button>";
                            var huy = "<button type='submit' class='btn btn-block btn-outline-danger active' onclick='huyAtt(\"" + str + "\")'>Từ chối</button>";
                            var kichhoat = "<button type='submit' class='btn btn-block btn-success active' onclick='kichhoatAtt(\"" + str + "\")'>Kích hoạt</button>";
                            var result = "";
                            //attStatus =1 waiting, =2 accept, =3 reject
                            if (attStatus == 1) result = duyet + " " + huy;
                            else if (attStatus == 3) result = kichhoat;
                            else {
                                    result =
                                        "<div class='label label-primary'><i class='fa fa-user' aria-hidden='true'></i> " +
                                        createdPerson +
                                        "</div>";
                            }
                            return result;
                        }
                    },
                ],
                "bAutoWidth": false,
        });

    }
    function huyAtt(str) {
        let row = str.split(';');
        checkMin = row[4];
        checkMax = row[5];
        attId = row[1];
            $.confirm({
                title: 'Lưu ý!',
                content: 'Bạn có muốn hủy nhân viên này ra khỏi ca?',
                theme: 'modern',
                buttons: {
                    confirm: function () {
                        huyAttendance(attId);
                        loadAttendance()
                    },
                    cancel: function () {
                        $.alert('Hủy!');
                    },
                }
            });
    }

    function kichhoatAtt(str) {
        let row = str.split(';');
        checkMin = row[4];
        checkMax = row[5];
        attId = row[1];
        $.confirm({
            title: 'Lưu ý!',
            content: 'Bạn có muốn khôi phục ca làm việc của nhân viên này không?',
            theme: 'modern',
            buttons: {
                confirm: function () {
                    kichhoatAttendance(attId);
                    loadAttendance()
                },
                cancel: function () {
                    $.alert('Hủy!');
                },
            }
        });
    }
    function RefreshOrderTable() {
        var oTable = $("#UserDatatable").dataTable();
        //oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }
    function duyetAtt(str) {
        let row = str.split(';');
        checkMin = row[4];
        checkMax = row[5];
        attId = row[1];
        if (checkMin == '' || checkMax == '') {
            $.confirm({
                title: 'Lưu ý!',
                content: 'Nhân viên này chưa cập nhật đầy đủ. Bạn vẫn muốn duyệt?!',
                theme: 'modern',
                buttons: {
                    confirm: function () {
                        duyetAttendance(attId);
                        loadAttendance()
                    },
                    cancel: function () {
                        $.alert('Hủy!');
                    },
                }
            });
            //ShowConfirm("Nhân viên này chưa cập nhật đầy đủ. Bạn vẫn muốn duyệt?", function () {
            //    duyetAttendance(id);
            //});
        } else {
            duyetAttendance(attId);
            loadAttendance()
        }
    }
    function duyetAttendance(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateAttendanceStt", "Attendance")',
                data: {
                    'attId': id,
                    'stt': @((Int32) AttendanceStatusEnum.Accept),
                },
                success: function(result) {
                    if (result.rs == true) {
                        $.alert("Cập nhật thành công");
                        loadAttendance()
                    } else {
                        if (result.flag == true) {
                            $.alert("Chưa cập nhật được. Vui lòng thử lại");
                        } else {
                            $.alert("Không có quyền cập nhật!!");
                    }
                    }
                },
                error: function(error) {
                    $.alert("Có lỗi xảy ra. Vui lòng thử lại sau");
                }
            });
    }
     function huyAttendance(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateAttendanceStt", "Attendance")',
                data: {
                    'attId': id,
                    'stt': @((Int32) AttendanceStatusEnum.Reject),
                },
                success: function(result) {
                    if (result.rs == true) {
                        $.alert("Đã từ chối thành công");
                        loadAttendance()
                    } else {
                        if (result.flag == true) {
                            $.alert("Chưa từ chối được. Vui lòng thử lại");
                        } else {
                            $.alert("Không có quyền từ chối!!");
                    }
                    }
                },
                error: function(error) {
                    $.alert("Có lỗi xảy ra. Vui lòng thử lại sau");
                }
            });
    }
     function kichhoatAttendance(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateAttendanceStt", "Attendance")',
                data: {
                    'attId': id,
                    'stt': @((Int32) AttendanceStatusEnum.Waiting),
                },
                success: function(result) {
                    if (result.rs == true) {
                        $.alert("Đã khôi phục thành công");
                        loadAttendance()
                    } else {
                        if (result.flag == true) {
                            $.alert("Chưa khôi phục được. Vui lòng thử lại");
                        } else {
                            $.alert("Không có quyền khôi phục!!");
                    }
                    }
                },
                error: function(error) {
                    $.alert("Có lỗi xảy ra. Vui lòng thử lại sau");
                }
            });
    }

    function showModal(str) {
        $('#editAttendancePanel').modal('show');
    }
        function reloadStatus() {
            var stt = -1;
            if ($("#rbStatusAll").is(':checked')) {
                stt = $("#rbStatusAll").val();
            } else if ($("#rbStatusProcessing").is(':checked')) {
                stt = $("#rbStatusProcessing").val();
            } else if ($("#rbStatusApproved").is(':checked')) {
                stt = $("#rbStatusApproved").val();
            } else if ($("#rbStatusReject").is(':checked')) {
                stt = $("#rbStatusReject").val();
            }

            $("#Status").val(stt);
            loadAttendance();
        }

        function reloadShift() {
            var stt = -1;
            if ($("#rbShiftTypeAll").is(':checked')) {
                stt = $("#rbShiftTypeAll").val();
            } else if ($("#rbShiftTypeBasic").is(':checked')) {
                stt = $("#rbShiftTypeBasic").val();
            } else if ($("#rbShiftTypeOverTime").is(':checked')) {
                stt = $("#rbShiftTypeOverTime").val();
            }

            $("#shiftType").val(stt);
            loadAttendance();
        }


        function reloadIsLate() {
            var isLate = -1;
            if ($("#rbIsLateAll").is(':checked')) {
                isLate = $("#rbIsLateAll").val();
            } else if ($("#rbIsLate").is(':checked')) {
                isLate = $("#rbIsLate").val();
            } else if ($("#rbIsEarly").is(':checked')) {
                isLate = $("#rbIsEarly").val();
            } else if ($("#rbIsNotLate").is(':checked')) {
                isLate = $("#rbIsNotLate").val();
            }

            $("#isLate").val(isLate);
            loadAttendance();
    }

</script>