﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model AttendanceViewModel
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th style="color: white"></th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="slotPickingModal" tabindex="-1" role="dialog" aria-labelledby="slotPickingTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Slot picking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Content:</label>
                            <select class="selectpicker" class="form-control" id="slot" name="slot"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="slotPickingButton">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/show.js"></script>
</body>
