﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model WorkingShiftEditViewModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("CreateWorkingShift", "WorkingShift"))

{
    <div class="card" style="width:50%;margin:0 auto">
        <div class="card-header">
            <span>Tạo ca mẫu</span>

        </div>
        <div class="card-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Quản lý</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(wks => wks.WorkingShiftViewModel.BrandId, Model.AvailableBrand, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Tên ca mẫu</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(wks => wks.WorkingShiftViewModel.WorkingShiftName, new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Thời gian bắt đâu ca</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(emp => emp.WorkingShiftViewModel.ShiftMin, new { @class = "form-control", @required = "required", id = "shiftMin", onchange = "checktime(1)" })
                        <lablel class="alert-danger" style="display:none" id="fromTimeAlert"></lablel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Thời gian kết thúc ca</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(emp => emp.WorkingShiftViewModel.ShiftMax, new { @class = "form-control", @required = "required", id = "shiftMax", onchange = "checktime(2)" })
                        <lablel class="alert-danger" style="display:none" id="toTimeAlert"></lablel>
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Ngày bắt đầu</label>
                    <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                        @Html.TextBoxFor(emp => emp.WorkingShiftViewModel.FromDate, new { @class = "form-control", @required = "required", @readonly = "true", id = "fromDate" })
                        <lablel class="alert-danger" style="display:none" id="fromDateAlert"></lablel>
                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Ngày kết thúc</label>
                    <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                        @Html.TextBoxFor(emp => emp.WorkingShiftViewModel.ToDate, new { @class = "form-control", @required = "required", @readonly = "true", id = "toDate" })
                        <lablel class="alert-danger" style="display:none" id="toDateAlert"></lablel>
                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                    </div>
                </div>*@
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Loại ca mẫu</label>
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(emp => emp.WorkingShiftTypeSelected, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hf-email">Thời gian làm thêm</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(emp => emp.WorkingShiftViewModel.ExpandTime, new { @class = "form-control", @required = "required", id = "expandTime" })
                    </div>
                </div>

                @*<input type="text" id="timepicker" />*@

            </form>
        </div>
        <div class="card-footer">
            <button type="reset" class="btn btn-sm btn-danger pull-right" style="margin-left:5px">
                <i class="fa fa-refresh"></i> Làm lại
            </button>
            <button type="submit" class="btn btn-sm btn-primary pull-right">
                <i class="fa fa-floppy-o"></i> Tạo ca mẫu
            </button>

        </div>
    </div>
}

<script>

    $('.form_date').datetimepicker({
        language: 'vi',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $(document).ready(function () {
        $('#shiftMin').mdtimepicker({
            timeFormat: 'hh:mm:ss.000',
            format: 'hh:mm:ss',
            theme: 'indigo',
            readOnly: true,
            hourPadding: false
        });
        $('#shiftMax').mdtimepicker({
            timeFormat: 'hh:mm:ss.000',
            format: 'hh:mm:ss',
            theme: 'indigo',
            readOnly: true,
            hourPadding: false
        });
        $('#expandTime').mdtimepicker({
            timeFormat: 'hh:mm:ss.000',
            format: 'hh:mm:ss',
            theme: 'indigo',
            readOnly: true,
            hourPadding: false
        });

    });

    $(function () {
        $("#toDate").change(function () {
            checkDate(2);
        });
        $("#fromDate").change(function () {
            checkDate(1);
        });
        $("#shiftMin").change(function () {
            checktime(1);
        });
        $("#shiftMax").change(function () {
            checktime(2);
        });
    });
    function checktime(value) {
        var startTime = $("#shiftMin").val();
        var endTime = $("#shiftMax").val();
        var regExp = /(\d{1,2})\:(\d{1,2})/;
        if (parseInt(endTime.replace(regExp, "$1$2")) < parseInt(startTime.replace(regExp, "$1$2"))) {
            if (value == 1) {
                $("#shiftMin").val(null);
                $('#fromTimeAlert').text("Xin hãy chọn lại thời gian").show('fast');
                $(':input[type="submit"]').prop('disabled', true);
            } else {
                $("#shiftMax").val(null);
                $(':input[type="submit"]').prop('disabled', true);
                $('#toTimeAlert').text("Xin hãy chọn lại thời gian").show('fast');
            }
        } else {
            $(':input[type="submit"]').prop('disabled', false);
            $('#toTimeAlert').hide();
            $('#fromTimeAlert').hide();
        }
    }
    function checkDate(value) {
        var fromDateValue = $("#fromDate").val();
        var toDateValue = $("#toDate").val();
        if (fromDateValue != 'NULL' && toDateValue != 'NULL') {
            fromDateValue = fromDateValue.split('/');
            toDateValue = toDateValue.split('/');

            var tmpFromDate = new Date(fromDateValue[2], fromDateValue[1] - 1, fromDateValue[0]);
            var tmpToDate = new Date(toDateValue[2], toDateValue[1] - 1, toDateValue[0]);
            if (tmpToDate < tmpFromDate) {
                if (value == 1) {
                    $("#fromDate").val(null);
                    $('#fromDateAlert').text("Xin hãy chọn lại ngày").show('fast');
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#toDate").val(null);
                    $('#toDateAlert').text("Xin hãy chọn lại ngày").show('fast');
                    $(':input[type="submit"]').prop('disabled', true);
                }
            } else {
                $(':input[type="submit"]').prop('disabled', false);
                $('#toDateAlert').hide();
                $('#fromDateAlert').hide();
            }
        }
    }
    //$('.form_time').datetimepicker({
    //    language: 'en',
    //    weekStart: 1,
    //    todayBtn: 1,
    //    autoclose: 1,
    //    todayHighlight: 1,
    //    startView: 1,
    //    minView: 0,
    //    maxView: 1,
    //    forceParse: 0
    //});

</script>
