﻿@using HmsService.ViewModels;
@using HmsService.Models;
@model WorkingShiftEditViewModel

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Quản Lý</h4>
                    </div>
                    <div class="col-sm-7">
                        <button onclick="location.href='@Url.Action("Create")'" class="btn btn-outline-success active pull-right" btn-sm>
                            <i class="fa fa-plus-circle" style="background:none"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="col-sm-12">

                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_WorkingShift" role="grid" style="border-collapse: collapse !important">
                        <thead>
                            <tr role="row">
                                <th>STT.</th>
                                <th style="display:none">Id</th>
                                <th>Quản lý</th>
                                <th>Tên ca mẫu</th>
                                <th>Thời gian bắt đầu ca</th>
                                <th>Thời gian kết thúc ca</th>
                                <th>Loại ca mẫu</th>
                                <th>Thời gian làm thêm</th>
                                <th colspan="2" style="text-align: center; vertical-align: middle">
                                    Hành động
                                </th>
                            </tr>
                        </thead>
                    </table>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <div class="card-header">
                                        <span>Chỉnh sửa ca mẫu</span>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <div class="col-md-8">
                                                    <input id="id" type="hidden" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="hf-email">Quản lý</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(emp => emp.WorkingShiftViewModel.BrandId, Model.AvailableBrand, new { @class = "form-control", id = "brandId" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="hf-email">Tên ca mẫu</label>
                                                <div class="col-md-8">
                                                    <input id="name" type="text" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="hf-email">Thời gian bắt đâu ca</label>
                                                <div class="col-md-8">
                                                    <input id="shiftMin" type="text" class="form-control" onchange="checktime(1)" />
                                                    <lablel class="alert-danger" style="display:none" id="fromTimeAlert"></lablel>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="hf-email">Thời gian kết thúc ca</label>
                                                <div class="col-md-8">
                                                    <input id="shiftMax" type="text" class="form-control" onchange="checktime(2)" />
                                                    <lablel class="alert-danger" style="display:none" id="toTimeAlert"></lablel>
                                                </div>
                                            </div>
                                            @*<div class="form-group row">
                                                    <label class="col-md-4 col-form-label" for="hf-email">Ngày bắt đầu</label>
                                                    <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                                                        <input id="fromDate" type="text" class="form-control" readonly />
                                                        <lablel class="alert-danger" style="display:none" id="fromDateAlert"></lablel>
                                                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                                    </div>
                                                </div>*@
                                            @*<div class="form-group row">
                                                    <label class="col-md-4 col-form-label" for="hf-email">Ngày kết thúc</label>
                                                    <div class="col-md-8 form_date date input-append" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dateTimePicker" data-link-format="dd/mm/yyyy">
                                                        <input id="toDate" type="text" class="form-control" readonly />
                                                        <lablel class="alert-danger" style="display:none" id="toDateAlert"></lablel>
                                                        <span class="add-on"><i class="icon-remove" style="display:none"></i></span>
                                                        <span class="add-on"><i class="icon-th" style="display:none"></i></span>
                                                    </div>
                                                </div>*@
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="hf-email">Loại ca mẫu</label>
                                                <div class="col-md-8">
                                                    @Html.EnumDropDownListFor(emp => emp.WorkingShiftTypeSelected, new { @class = "form-control", id = "wksType" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="hf-email">Thời gian làm thêm</label>
                                                <div class="col-md-8">
                                                    <input id="hourWork" type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="card-footer" style="position:absolute;bottom:0;width:100%">
                                    <button type="button" class="btn btn-sm btn-secondary pull-right" data-dismiss="modal" style="margin-left:5px"><i class="fa fa-times"></i> Đóng</button>
                                    <button type="submit" class="btn btn-sm btn-primary pull-right" data-dismiss="modal" id="btnSubmitModal" onclick="editWorkingShiftForm()"><i class="fa fa-floppy-o"></i> Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
                $(document).ready(function () {

                    InitUserDatatable();
                    $(document).ready(function () {
                        $('#shiftMin').mdtimepicker({
                            timeFormat: 'hh:mm:ss.000',
                            format: 'hh:mm',
                            theme: 'indigo',
                            readOnly: true,
                            hourPadding: false
                        });
                        $('#shiftMax').mdtimepicker({
                            timeFormat: 'hh:mm:ss.000',
                            format: 'hh:mm',
                            theme: 'indigo',
                            readOnly: true,
                            hourPadding: false
                        });
                        $('#hourWork').mdtimepicker({
                            timeFormat: 'hh:mm:ss.000',
                            format: 'hh:mm:ss',
                            theme: 'indigo',
                            readOnly: true,
                            hourPadding: false
                        });

                    });

                });

                function InitUserDatatable() {
                    $("#DataTables_WorkingShift").dataTable().fnDestroy();
                    $("#DataTables_WorkingShift").dataTable({
                        "bRetrieve": true,
                        "bScrollCollapse": true,
                        "sAjaxSource": "@Url.Action("GetWorkingShift", "WorkingShift")",
                        "bProcessing": true,
                        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]],
                        "bFilter": true,
                        "bAutoWidth": false,
                        "oLanguage": {
                            "sSearchPlaceholder": "Tên ca mẫu",
                            "sSearch": " Tìm kiếm",
                            "sZeroRecords": "Không có dữ liệu phù hợp",
                            "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                            "sEmptyTable": "Không có dữ liệu",
                            "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                            "sLengthMenu": "Hiển thị _MENU_ dòng",
                            "sProcessing": "Đang xử lý...",
                            "oPaginate": {
                                "sFirst": "Đầu",
                                "sPrevious": "Trước",
                                "sNext": "Tiếp",
                                "sLast": "Cuối"
                            }
                        },
                        "aoColumnDefs": [
                            {
                                "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                                "sClass": "text-center mid-v-align",
                                "bSortable": false,
                            },
                            {
                                "aTargets": [0, 1, 2, 5, 4, 6, 7, 8, 9],
                                "bSearchable": false,
                            },
                     {
                         "aTargets": [1],
                         "visible": false,
                     },
                        {
                            "aTargets": [8],
                            "bSortable": false,
                            "mRender": function (data, type, row) {
                                var data = row[1];
                                let str = row.join(';');
                                var editer = "<button type='button' class='btn btn-outline-primary active' style='margin-right:5px' onclick='showModal(\"" + str + "\")'><i class='icon-note';></i></button>";
                                return editer;
                            }
                        },
                        {
                            "aTargets": [9],
                            "bSortable": false,
                            "mRender": function (data, type, row) {
                                var data = row[1];
                                let str = row.join(';');
                                var deleteWorkingShift = "<a title='Xóa' class='btn btn-outline-danger active' onclick='deleteWorkingShift(" + data + ")'><i class='fa fa-trash'></i></a>";
                                return deleteWorkingShift;
                            }
                        },
                        ],

                    });
                }
                //$(function () {
                //    $("#toDate").change(function () {
                //        checkDate(2);
                //    });
                //    $("#fromDate").change(function () {
                //        checkDate(1);
                //    });
                //    $("#shiftMin").change(function () {
                //        checktime(1);
                //    });
                //    $("#shiftMax").change(function () {
                //        checktime(2);
                //    });
                //});
                function checktime(value) {
                    var startTime = $("#shiftMin").val();
                    var endTime = $("#shiftMax").val();
                    var regExp = /(\d{1,2})\:(\d{1,2})/;
                    if (parseInt(endTime.replace(regExp, "$1$2")) < parseInt(startTime.replace(regExp, "$1$2"))) {
                        if (value == 1) {
                            $("#shiftMin").val(null);
                            $('#fromTimeAlert').text("Xin hãy nhập time").show('fast');
                            $('#btnSubmitModal').prop('disabled', true);
                        } else {
                            $("#shiftMax").val(null);
                            $('#toTimeAlert').text("Xin hãy nhập time").show('fast');
                            $('#btnSubmitModal').prop('disabled', true);
                        }
                    } else {
                        $('#btnSubmitModal').prop('disabled', false);
                        $('#toTimeAlert').hide();
                        $('#fromTimeAlert').hide();
                    }
                }
                //function checkDate(value) {
                //    var fromDateValue = $("#fromDate").val();
                //    var toDateValue = $("#toDate").val();
                //    if (fromDateValue != 'NULL' && toDateValue != 'NULL') {
                //        fromDateValue = fromDateValue.split('/');
                //        toDateValue = toDateValue.split('/');

                //        var tmpFromDate = new Date(fromDateValue[2], fromDateValue[1] - 1, fromDateValue[0]);
                //        var tmpToDate = new Date(toDateValue[2], toDateValue[1] - 1, toDateValue[0]);
                //        if (tmpToDate < tmpFromDate) {
                //            if (value == 1) {
                //                $("#fromDate").val(null);
                //                $('#fromDateAlert').text("Xin hãy chọn lại ngày").show('fast');
                //                $('#btnSubmitModal').prop('disabled', true);
                //            } else {
                //                $("#toDate").val(null);
                //                $('#toDateAlert').text("Xin hãy chọn lại ngày").show('fast');
                //                $('#btnSubmitModal').prop('disabled', true);
                //            }
                //        } else {
                //            $('#btnSubmitModal').prop('disabled', false);
                //            $('#toDateAlert').hide();
                //            $('#fromDateAlert').hide();
                //        }
                //    }
                //}
                function showModal(str) {
                    $('#myModal').modal('show');
                    let row = str.split(';');
                    $("#id").val(row[1]);
                    $("#brandId").val(row[8]);
                    $("#name").val(row[3]);
                    $("#shiftMin").val(row[4]);
                    $("#shiftMax").val(row[5]);
                    $("#hourWork").val(row[7]);
                    $("#wksType").val(row[9]);
                }
                function editWorkingShiftForm() {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditWorkingShift", "WorkingShift")',
                        data: {
                            "Id": $("#id").val(),
                            "brandId": $("#brandId").val(),
                            "name": $("#name").val(),
                            "shiftMin": $("#shiftMin").val(),
                            "shiftMax": $("#shiftMax").val(),
                            //"fromDate": $("#fromDate").val(),
                            //"toDate": $("#toDate").val(),
                            "wksType": $("#wksType").val(),
                            "hour": $("#hourWork").val(),
                        },
                        success: function (result) {
                            alert("Chỉnh sửa thành công");
                            InitUserDatatable();

                        },
                        error: function (error) {
                            ShowMessage("Chỉnh sửa không thành công, xin thử lại sau")
                        }

                    });
                }
                function deleteWorkingShift(Id) {
                    if (confirm("Bạn muốn xóa ca mẫu này?")) {
                        $.ajax({
                            type: 'URL',
                            url: '@Url.Action("DeleteWorkingShift")',
                            method: 'POST',
                            data: { Id: Id },
                            success: function (result) {
                                if (result.success) {
                                    alert("Xóa thành công!");
                                    InitUserDatatable();
                                } else {
                                    alert("Xóa không thành công, xin thử lại sau");
                                }
                            },
                            error: function (error) {
                                alert("Xóa không thành công, xin thử lại sau");
                            }
                        })
                    }
                }
                $('.form_time').datetimepicker({
                    language: 'vi',
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 1,
                    minView: 0,
                    maxView: 1,
                    forceParse: 0
                });
                $('.form_date').datetimepicker({
                    language: 'vi',
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
</script>
